#ContentMpReport_PDFViewer1 {
  top: 20px;
  position: absolute;
}

#ContentMpReport_PDFViewer1 {
  left: 260px;
  position: absolute;
}

#ContentMpReport_PDFViewer1 {
  width: 840px;
}

#ContentMpReport_PDFViewer1 {
  height: 600px;
}

#ContentMpReport_PDFViewer1 {
  z-index: 0;
}

#ContentMpReport_PDFViewer1 {
  border-color: black;
}

#ContentMpReport_Table1 {
  top: 160px;
  position: absolute;
}

#ContentMpReport_Table1 {
  left: 1140px;
  position: absolute;
}

#ContentMpReport_Table1 {
  width: 440px;
}

#ContentMpReport_Table1 {
  height: 460px;
}

#ContentMpReport_Table1 {
  z-index: 1;
}

#ContentMpReport_TableItem1 {
  z-index: 0;
}

#ContentMpReport_DeleteButton {
  top: 20px;
  position: absolute;
}

#ContentMpReport_DeleteButton {
  left: 1480px;
  position: absolute;
}

#ContentMpReport_DeleteButton {
  width: 100px;
}

#ContentMpReport_DeleteButton {
  height: 120px;
}

#ContentMpReport_DeleteButton {
  z-index: 2;
}

#ContentMpReport_DeleteButton img {
  height: 60px;
}

#ContentMpReport_DeleteButton svg {
  height: 60px;
}

#ContentMpReport_DeleteButton img {
  width: 60px;
}

#ContentMpReport_DeleteButton svg {
  width: 60px;
}

#ContentMpReport_NumericOutput1 {
  height: 30px;
}

#ContentMpReport_NumericOutput1 {
  top: 160px;
  position: absolute;
}

#ContentMpReport_NumericOutput1 {
  left: 20px;
  position: absolute;
}

#ContentMpReport_NumericOutput1 {
  width: 200px;
}

#ContentMpReport_NumericOutput1 {
  z-index: 3;
}

#ContentMpReport_NumericOutput1 {
  border-width: 2px;
}

#ContentMpReport_NumericOutput1 {
  border-radius: 3px;
}

#ContentMpReport_NumericOutput1 input {
  font-size: 18px;
}

#ContentMpReport_Label1 {
  height: 30px;
}

#ContentMpReport_Label1 {
  top: 120px;
  position: absolute;
}

#ContentMpReport_Label1 {
  left: 80px;
  position: absolute;
}

#ContentMpReport_Label1 {
  width: 140px;
}

#ContentMpReport_Label1 {
  z-index: 4;
}

#ContentMpReport_Label1 span {
  color: black;
}

#ContentMpReport_Label1 {
  font-size: 18px;
}

#ContentMpReport_Label1 {
  font-weight: bold;
}

#ContentMpReport_NumericOutput2 {
  height: 30px;
}

#ContentMpReport_NumericOutput2 {
  top: 260px;
  position: absolute;
}

#ContentMpReport_NumericOutput2 {
  left: 20px;
  position: absolute;
}

#ContentMpReport_NumericOutput2 {
  width: 200px;
}

#ContentMpReport_NumericOutput2 {
  z-index: 5;
}

#ContentMpReport_NumericOutput2 {
  border-width: 2px;
}

#ContentMpReport_NumericOutput2 {
  border-radius: 3px;
}

#ContentMpReport_NumericOutput2 input {
  font-size: 18px;
}

#ContentMpReport_Label2 {
  height: 30px;
}

#ContentMpReport_Label2 {
  top: 220px;
  position: absolute;
}

#ContentMpReport_Label2 {
  left: 80px;
  position: absolute;
}

#ContentMpReport_Label2 {
  width: 140px;
}

#ContentMpReport_Label2 {
  z-index: 6;
}

#ContentMpReport_Label2 span {
  color: black;
}

#ContentMpReport_Label2 {
  font-size: 18px;
}

#ContentMpReport_Label2 {
  font-weight: bold;
}

#ContentMpReport_NumericOutput3 {
  height: 30px;
}

#ContentMpReport_NumericOutput3 {
  top: 360px;
  position: absolute;
}

#ContentMpReport_NumericOutput3 {
  left: 20px;
  position: absolute;
}

#ContentMpReport_NumericOutput3 {
  width: 200px;
}

#ContentMpReport_NumericOutput3 {
  z-index: 7;
}

#ContentMpReport_NumericOutput3 {
  border-width: 2px;
}

#ContentMpReport_NumericOutput3 {
  border-radius: 3px;
}

#ContentMpReport_NumericOutput3 input {
  font-size: 18px;
}

#ContentMpReport_Label3 {
  height: 30px;
}

#ContentMpReport_Label3 {
  top: 320px;
  position: absolute;
}

#ContentMpReport_Label3 {
  left: 80px;
  position: absolute;
}

#ContentMpReport_Label3 {
  width: 140px;
}

#ContentMpReport_Label3 {
  z-index: 8;
}

#ContentMpReport_Label3 span {
  color: black;
}

#ContentMpReport_Label3 {
  font-size: 18px;
}

#ContentMpReport_Label3 {
  font-weight: bold;
}

#ContentMpReport_Button1 {
  height: 30px;
}

#ContentMpReport_Button1 {
  top: 100px;
  position: absolute;
}

#ContentMpReport_Button1 {
  left: 1140px;
  position: absolute;
}

#ContentMpReport_Button1 {
  width: 140px;
}

#ContentMpReport_Button1 {
  z-index: 9;
}

#ContentMpReport_Button2 {
  height: 30px;
}

#ContentMpReport_Button2 {
  top: 100px;
  position: absolute;
}

#ContentMpReport_Button2 {
  left: 1320px;
  position: absolute;
}

#ContentMpReport_Button2 {
  width: 140px;
}

#ContentMpReport_Button2 {
  z-index: 10;
}
