@import "mixins.scss";
#ContentMpReport_PDFViewer1 {
	@include elemTop(20);
}
#ContentMpReport_PDFViewer1 {
	@include elemLeft(260);
}
#ContentMpReport_PDFViewer1 {
	@include elemWidth(840);
}
#ContentMpReport_PDFViewer1 {
	@include elemHeight(600);
}
#ContentMpReport_PDFViewer1 {
		z-index: 0;
}
#ContentMpReport_PDFViewer1 {
		border-color: rgba(0, 0, 0, 1);
}
#ContentMpReport_Table1 {
	@include elemTop(160);
}
#ContentMpReport_Table1 {
	@include elemLeft(1140);
}
#ContentMpReport_Table1 {
	@include elemWidth(440);
}
#ContentMpReport_Table1 {
	@include elemHeight(460);
}
#ContentMpReport_Table1 {
		z-index: 1;
}
#ContentMpReport_TableItem1 {
		z-index: 0;
}
#ContentMpReport_DeleteButton {
	@include elemTop(20);
}
#ContentMpReport_DeleteButton {
	@include elemLeft(1480);
}
#ContentMpReport_DeleteButton {
	@include elemAutoWidth(100);
}
#ContentMpReport_DeleteButton {
	@include elemAutoHeight(120);
}
#ContentMpReport_DeleteButton {
		z-index: 2;
}
#ContentMpReport_DeleteButton {
	img{
	@include imageHeight(60);
	}
}
#ContentMpReport_DeleteButton {
	svg{
	@include imageHeight(60);
	}
}
#ContentMpReport_DeleteButton {
	img{
	@include imageWidth(60);
	}
}
#ContentMpReport_DeleteButton {
	svg{
	@include imageWidth(60);
	}
}
#ContentMpReport_NumericOutput1 {
	@include elemAutoHeight(30);
}
#ContentMpReport_NumericOutput1 {
	@include elemTop(160);
}
#ContentMpReport_NumericOutput1 {
	@include elemLeft(20);
}
#ContentMpReport_NumericOutput1 {
	@include elemAutoWidth(200);
}
#ContentMpReport_NumericOutput1 {
		z-index: 3;
}
#ContentMpReport_NumericOutput1 {
		border-width: 2px;
}
#ContentMpReport_NumericOutput1 {
	@include border-radius(3px);
}
#ContentMpReport_NumericOutput1 {
	input{
		font-size: 18px;
	}
}
#ContentMpReport_Label1 {
	@include elemAutoHeight(30);
}
#ContentMpReport_Label1 {
	@include elemTop(120);
}
#ContentMpReport_Label1 {
	@include elemLeft(80);
}
#ContentMpReport_Label1 {
	@include elemAutoWidth(140);
}
#ContentMpReport_Label1 {
		z-index: 4;
}
#ContentMpReport_Label1 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#ContentMpReport_Label1 {
		font-size: 18px;
}
#ContentMpReport_Label1 {
	@include font-weight-bold(true);
}
#ContentMpReport_NumericOutput2 {
	@include elemAutoHeight(30);
}
#ContentMpReport_NumericOutput2 {
	@include elemTop(260);
}
#ContentMpReport_NumericOutput2 {
	@include elemLeft(20);
}
#ContentMpReport_NumericOutput2 {
	@include elemAutoWidth(200);
}
#ContentMpReport_NumericOutput2 {
		z-index: 5;
}
#ContentMpReport_NumericOutput2 {
		border-width: 2px;
}
#ContentMpReport_NumericOutput2 {
	@include border-radius(3px);
}
#ContentMpReport_NumericOutput2 {
	input{
		font-size: 18px;
	}
}
#ContentMpReport_Label2 {
	@include elemAutoHeight(30);
}
#ContentMpReport_Label2 {
	@include elemTop(220);
}
#ContentMpReport_Label2 {
	@include elemLeft(80);
}
#ContentMpReport_Label2 {
	@include elemAutoWidth(140);
}
#ContentMpReport_Label2 {
		z-index: 6;
}
#ContentMpReport_Label2 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#ContentMpReport_Label2 {
		font-size: 18px;
}
#ContentMpReport_Label2 {
	@include font-weight-bold(true);
}
#ContentMpReport_NumericOutput3 {
	@include elemAutoHeight(30);
}
#ContentMpReport_NumericOutput3 {
	@include elemTop(360);
}
#ContentMpReport_NumericOutput3 {
	@include elemLeft(20);
}
#ContentMpReport_NumericOutput3 {
	@include elemAutoWidth(200);
}
#ContentMpReport_NumericOutput3 {
		z-index: 7;
}
#ContentMpReport_NumericOutput3 {
		border-width: 2px;
}
#ContentMpReport_NumericOutput3 {
	@include border-radius(3px);
}
#ContentMpReport_NumericOutput3 {
	input{
		font-size: 18px;
	}
}
#ContentMpReport_Label3 {
	@include elemAutoHeight(30);
}
#ContentMpReport_Label3 {
	@include elemTop(320);
}
#ContentMpReport_Label3 {
	@include elemLeft(80);
}
#ContentMpReport_Label3 {
	@include elemAutoWidth(140);
}
#ContentMpReport_Label3 {
		z-index: 8;
}
#ContentMpReport_Label3 {
	& span{
		color: rgba(0, 0, 0, 1);
	}
}
#ContentMpReport_Label3 {
		font-size: 18px;
}
#ContentMpReport_Label3 {
	@include font-weight-bold(true);
}
#ContentMpReport_Button1 {
	@include elemAutoHeight(30);
}
#ContentMpReport_Button1 {
	@include elemTop(100);
}
#ContentMpReport_Button1 {
	@include elemLeft(1140);
}
#ContentMpReport_Button1 {
	@include elemAutoWidth(140);
}
#ContentMpReport_Button1 {
		z-index: 9;
}
#ContentMpReport_Button2 {
	@include elemAutoHeight(30);
}
#ContentMpReport_Button2 {
	@include elemTop(100);
}
#ContentMpReport_Button2 {
	@include elemLeft(1320);
}
#ContentMpReport_Button2 {
	@include elemAutoWidth(140);
}
#ContentMpReport_Button2 {
		z-index: 10;
}
