<?xml version="1.0" encoding="utf-8"?>
<SnippetDefinition xmlns="http://www.br-automation.com/iat2014/snippet/runtime/v1">
  <Snippet id="UserXManagerError" type="String" />
  <Snippet id="UserXLoginErrorSnippet" type="Numeric" formatItem="{#::UserH:MpUserXLoginUIConnect.MessageBox.ErrorNumber}" />
  <Snippet id="AuditError" type="Numeric" formatItem="{1|+}" />
  <Snippet id="UserXLoginErrorTextSnippet" type="IndexText" formatItem="Status.{#::UserH:MpUserXLoginUIConnect.MessageBox.ErrorNumber}" />
</SnippetDefinition>