@import "mixins.scss";
@import "../../../../widgets/brease/FlyOut/meta/FlyOut_base";
.widgets_brease_FlyOut_style_transparent {
@include widgets_brease_FlyOut_base; 
.breaseFlyOutWrapper > .container {
	background-color: transparent;
}
.breaseFlyOutWrapper > .container {
	border-style: none;
}
.breaseFlyOutWrapper > .container {
	border-width: 0px;
}
.breaseFlyOutWrapper > .flyoutButton {
	border-width: 0px;
}
:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
	background-color: transparent;
}

}
@import "../../../../widgets/brease/FlyOut/meta/FlyOut_base";
.widgets_brease_FlyOut_style_AlarmActive {
@include widgets_brease_FlyOut_base; 
.breaseFlyOutWrapper > .container {
	background-color: #d9d9d9;
}
.breaseFlyOutWrapper > .container {
	border-style: none;
}
.breaseFlyOutWrapper > .container {
	border-width: 6px;
}
.breaseFlyOutWrapper > .flyoutButton {
	border-width: 6px;
}
.breaseFlyOutWrapper > .flyoutButton {
@include importantBorderColor(#FF0000);
}
.breaseFlyOutWrapper > .flyoutButton {
@include border-radius(0px);
}
:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}

}
@import "../../../../widgets/brease/FlyOut/meta/FlyOut_base";
.widgets_brease_FlyOut_style_AlarmPending {
@include widgets_brease_FlyOut_base; 
.breaseFlyOutWrapper > .container {
	background-color: #d9d9d9;
}
.breaseFlyOutWrapper > .container {
	border-style: none;
}
.breaseFlyOutWrapper > .container {
	border-width: 0px;
}
.breaseFlyOutWrapper > .flyoutButton {
	border-width: 6px;
}
.breaseFlyOutWrapper > .flyoutButton {
@include importantBorderColor(#FFFF00);
}
.breaseFlyOutWrapper > .flyoutButton {
@include border-radius(0px);
}
:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}

}
