@import "mixins.scss";
@import "../../../../widgets/brease/OnlineChartGraph/meta/OnlineChartGraph_base";
.widgets_brease_OnlineChartGraph_style_Graph_Red {
@include widgets_brease_OnlineChartGraph_base; 
&:not(.disabled).graph {
	stroke: #FF0000;
}
&.breaseChartYValueListWidget.editMode {
	border-color: #FF0000;
}

}
@import "../../../../widgets/brease/OnlineChartGraph/meta/OnlineChartGraph_base";
.widgets_brease_OnlineChartGraph_style_Graph_GrayBlu {
@include widgets_brease_OnlineChartGraph_base; 
&:not(.disabled).graph {
	stroke: #5196AF;
}
&.breaseChartYValueListWidget.editMode {
	border-color: #5196AF;
}

}
@import "../../../../widgets/brease/OnlineChartGraph/meta/OnlineChartGraph_base";
.widgets_brease_OnlineChartGraph_style_Graph_Black {
@include widgets_brease_OnlineChartGraph_base; 
&:not(.disabled).graph {
	stroke: #000000;
}
&.breaseChartYValueListWidget.editMode {
	border-color: #000000;
}

}
@import "../../../../widgets/brease/OnlineChartGraph/meta/OnlineChartGraph_base";
.widgets_brease_OnlineChartGraph_style_defaultArea {
@include widgets_brease_OnlineChartGraph_base; 
&:not(.disabled).graph {
	stroke: #FF8500;
}
&.breaseChartYValueListWidget.editMode {
	border-color: #FF8500;
}
&:not(.disabled).area {
	fill: rgba(255,133,0,0.2);
}
&.breaseChartYValueListWidget.editMode {
	background-color: rgba(255,133,0,0.2);
}

}
@import "../../../../widgets/brease/OnlineChartGraph/meta/OnlineChartGraph_base";
.widgets_brease_OnlineChartGraph_style_Graph_RedArea {
@include widgets_brease_OnlineChartGraph_base; 
&:not(.disabled).graph {
	stroke: #FF0000;
}
&.breaseChartYValueListWidget.editMode {
	border-color: #FF0000;
}
&:not(.disabled).area {
	fill: rgba(255,0,0,0.2);
}
&.breaseChartYValueListWidget.editMode {
	background-color: rgba(255,0,0,0.2);
}

}
@import "../../../../widgets/brease/OnlineChartGraph/meta/OnlineChartGraph_base";
.widgets_brease_OnlineChartGraph_style_Graph_GrayBluArea {
@include widgets_brease_OnlineChartGraph_base; 
&:not(.disabled).graph {
	stroke: #39f;
}
&.breaseChartYValueListWidget.editMode {
	border-color: #39f;
}
&:not(.disabled).area {
	fill: rgba(81,150,175,0.2);
}
&.breaseChartYValueListWidget.editMode {
	background-color: rgba(81,150,175,0.2);
}

}
@import "../../../../widgets/brease/OnlineChartGraph/meta/OnlineChartGraph_base";
.widgets_brease_OnlineChartGraph_style_Graph_BlackArea {
@include widgets_brease_OnlineChartGraph_base; 
&:not(.disabled).graph {
	stroke: #000000;
}
&.breaseChartYValueListWidget.editMode {
	border-color: #000000;
}
&:not(.disabled).area {
	fill: rgba(0,0,0,0.2);
}
&.breaseChartYValueListWidget.editMode {
	background-color: rgba(0,0,0,0.2);
}

}
