@import "mixins.scss";
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_PackMLInactiveGray {
@include widgets_brease_Label_base; 
	font-size: 13px;
& span {
	color: #808080;
}
@include backGroundGradient('linear-gradient(135deg,#eeeeee 0%,#bbbbbb 100%)');
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
span {
	padding: 5px;
}
@include border-radius(5px);
@include text-alignment-all('center');
@include font-weight-bold(true);

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_PackMLInactiveYellow {
@include widgets_brease_Label_base; 
	font-size: 13px;
& span {
	color: #dad300;
}
@include backGroundGradient('linear-gradient(135deg, #fbffba 0%,#fffa6b 100%)');
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
span {
	padding: 5px;
}
@include border-radius(5px);
@include text-alignment-all('center');
@include font-weight-bold(true);

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_PackMLActiveYellow {
@include widgets_brease_Label_base; 
	font-size: 13px;
& span {
	color: #868200;
}
@include backGroundGradient('linear-gradient(135deg, #f5ff37 0%,#fef600 100%)');
	border-style: solid;
&:before {
	border-style: solid;
}
&:after {
	border-style: solid;
}
	border-color: #868200;
&:before {
	border-color: #868200;
}
&:after {
	border-color: #868200;
}
	border-width: 2px;
span {
	padding: 5px;
}
@include border-radius(5px);
@include text-alignment-all('center');
@include font-weight-bold(true);

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_PackMLInactiveGreen {
@include widgets_brease_Label_base; 
	font-size: 13px;
& span {
	color: #7cb76d;
}
@include backGroundGradient('linear-gradient(135deg, #c0dfb9 0%,#7cb76d 100%)');
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
span {
	padding: 5px;
}
@include border-radius(5px);
@include text-alignment-all('center');
@include font-weight-bold(true);

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_PackMLActiveGreen {
@include widgets_brease_Label_base; 
	font-size: 13px;
& span {
	color: #2C7A18;
}
@include backGroundGradient('linear-gradient(135deg, #b7efa9 0%,#66db49 100%)');
	border-style: solid;
&:before {
	border-style: solid;
}
&:after {
	border-style: solid;
}
	border-color: #66db49;
&:before {
	border-color: #66db49;
}
&:after {
	border-color: #66db49;
}
	border-width: 2px;
span {
	padding: 5px;
}
@include border-radius(5px);
@include text-alignment-all('center');
@include font-weight-bold(true);

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_PackMLInactiveBlue {
@include widgets_brease_Label_base; 
	font-size: 13px;
@include backGroundGradient('linear-gradient(135deg, #b8c6df 0%,#6d88b7 100%)');
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
span {
	padding: 5px;
}
@include border-radius(5px);
@include text-alignment-all('center');
& span {
	color: #6d88b7;
}
@include font-weight-bold(true);

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_PackMLActiveBlue {
@include widgets_brease_Label_base; 
	font-size: 13px;
@include backGroundGradient('linear-gradient(135deg, #a9c3ef 0%,#497fdb 100%)');
	border-style: solid;
&:before {
	border-style: solid;
}
&:after {
	border-style: solid;
}
	border-color: #497fdb;
&:before {
	border-color: #497fdb;
}
&:after {
	border-color: #497fdb;
}
	border-width: 2px;
span {
	padding: 5px;
}
@include border-radius(5px);
@include text-alignment-all('center');
& span {
	color: #183c7a;
}
@include font-weight-bold(true);

}
