#ContentMpAuditFilter_TextInput1 {
  top: 180px;
  position: absolute;
}

#ContentMpAuditFilter_TextInput1 {
  left: 290px;
  position: absolute;
}

#ContentMpAuditFilter_TextInput1 {
  width: 300px;
}

#ContentMpAuditFilter_TextInput1 {
  height: 30px;
}

#ContentMpAuditFilter_TextInput1 {
  z-index: 0;
}

#ContentMpAuditFilter_TextInput2 {
  top: 260px;
  position: absolute;
}

#ContentMpAuditFilter_TextInput2 {
  left: 290px;
  position: absolute;
}

#ContentMpAuditFilter_TextInput2 {
  width: 300px;
}

#ContentMpAuditFilter_TextInput2 {
  height: 30px;
}

#ContentMpAuditFilter_TextInput2 {
  z-index: 1;
}

#ContentMpAuditFilter_TextInput3 {
  top: 300px;
  position: absolute;
}

#ContentMpAuditFilter_TextInput3 {
  left: 180px;
  position: absolute;
}

#ContentMpAuditFilter_TextInput3 {
  width: 410px;
}

#ContentMpAuditFilter_TextInput3 {
  height: 30px;
}

#ContentMpAuditFilter_TextInput3 {
  z-index: 2;
}

#ContentMpAuditFilter_NumericInput1 {
  top: 220px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput1 {
  left: 290px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput1 {
  width: 60px;
}

#ContentMpAuditFilter_NumericInput1 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput1 {
  z-index: 3;
}

#ContentMpAuditFilter_NumericInput2 {
  top: 220px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput2 {
  left: 350px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput2 {
  width: 60px;
}

#ContentMpAuditFilter_NumericInput2 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput2 {
  z-index: 4;
}

#ContentMpAuditFilter_NumericInput3 {
  top: 100px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput3 {
  left: 180px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput3 {
  width: 82px;
}

#ContentMpAuditFilter_NumericInput3 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput3 {
  z-index: 5;
}

#ContentMpAuditFilter_NumericInput4 {
  top: 100px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput4 {
  left: 262px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput4 {
  width: 82px;
}

#ContentMpAuditFilter_NumericInput4 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput4 {
  z-index: 6;
}

#ContentMpAuditFilter_NumericInput5 {
  top: 100px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput5 {
  left: 344px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput5 {
  width: 82px;
}

#ContentMpAuditFilter_NumericInput5 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput5 {
  z-index: 7;
}

#ContentMpAuditFilter_NumericInput6 {
  top: 100px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput6 {
  left: 426px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput6 {
  width: 82px;
}

#ContentMpAuditFilter_NumericInput6 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput6 {
  z-index: 8;
}

#ContentMpAuditFilter_NumericInput7 {
  top: 100px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput7 {
  left: 508px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput7 {
  width: 82px;
}

#ContentMpAuditFilter_NumericInput7 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput7 {
  z-index: 9;
}

#ContentMpAuditFilter_NumericInput9 {
  top: 140px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput9 {
  left: 180px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput9 {
  width: 82px;
}

#ContentMpAuditFilter_NumericInput9 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput9 {
  z-index: 10;
}

#ContentMpAuditFilter_NumericInput10 {
  top: 140px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput10 {
  left: 262px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput10 {
  width: 82px;
}

#ContentMpAuditFilter_NumericInput10 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput10 {
  z-index: 11;
}

#ContentMpAuditFilter_NumericInput11 {
  top: 140px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput11 {
  left: 344px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput11 {
  width: 82px;
}

#ContentMpAuditFilter_NumericInput11 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput11 {
  z-index: 12;
}

#ContentMpAuditFilter_NumericInput12 {
  top: 140px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput12 {
  left: 426px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput12 {
  width: 82px;
}

#ContentMpAuditFilter_NumericInput12 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput12 {
  z-index: 13;
}

#ContentMpAuditFilter_NumericInput13 {
  top: 140px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput13 {
  left: 508px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput13 {
  width: 82px;
}

#ContentMpAuditFilter_NumericInput13 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput13 {
  z-index: 14;
}

#ContentMpAuditFilter_YesButton {
  top: 360px;
  position: absolute;
}

#ContentMpAuditFilter_YesButton {
  left: 180px;
  position: absolute;
}

#ContentMpAuditFilter_YesButton {
  width: 100px;
}

#ContentMpAuditFilter_YesButton {
  height: 30px;
}

#ContentMpAuditFilter_YesButton {
  z-index: 15;
}

#ContentMpAuditFilter_NoButton {
  top: 360px;
  position: absolute;
}

#ContentMpAuditFilter_NoButton {
  left: 320px;
  position: absolute;
}

#ContentMpAuditFilter_NoButton {
  width: 100px;
}

#ContentMpAuditFilter_NoButton {
  height: 30px;
}

#ContentMpAuditFilter_NoButton {
  z-index: 16;
}

#ContentMpAuditFilter_Label1 {
  top: 10px;
  position: absolute;
}

#ContentMpAuditFilter_Label1 {
  left: 80px;
  position: absolute;
}

#ContentMpAuditFilter_Label1 {
  width: 510px;
}

#ContentMpAuditFilter_Label1 {
  height: 80px;
}

#ContentMpAuditFilter_Label1 {
  z-index: 17;
}

#ContentMpAuditFilter_Label1 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#ContentMpAuditFilter_CheckBox1 {
  top: 100px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox1 {
  left: 10px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox1 {
  width: 160px;
}

#ContentMpAuditFilter_CheckBox1 {
  height: 30px;
}

#ContentMpAuditFilter_CheckBox1 {
  z-index: 18;
}

#ContentMpAuditFilter_CheckBox2 {
  top: 140px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox2 {
  left: 10px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox2 {
  width: 160px;
}

#ContentMpAuditFilter_CheckBox2 {
  height: 30px;
}

#ContentMpAuditFilter_CheckBox2 {
  z-index: 19;
}

#ContentMpAuditFilter_CheckBox3 {
  top: 180px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox3 {
  left: 10px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox3 {
  width: 160px;
}

#ContentMpAuditFilter_CheckBox3 {
  height: 30px;
}

#ContentMpAuditFilter_CheckBox3 {
  z-index: 20;
}

#ContentMpAuditFilter_CheckBox4 {
  top: 220px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox4 {
  left: 10px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox4 {
  width: 160px;
}

#ContentMpAuditFilter_CheckBox4 {
  height: 30px;
}

#ContentMpAuditFilter_CheckBox4 {
  z-index: 21;
}

#ContentMpAuditFilter_CheckBox5 {
  top: 260px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox5 {
  left: 10px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox5 {
  width: 160px;
}

#ContentMpAuditFilter_CheckBox5 {
  height: 30px;
}

#ContentMpAuditFilter_CheckBox5 {
  z-index: 22;
}

#ContentMpAuditFilter_CheckBox6 {
  top: 300px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox6 {
  left: 10px;
  position: absolute;
}

#ContentMpAuditFilter_CheckBox6 {
  width: 160px;
}

#ContentMpAuditFilter_CheckBox6 {
  height: 30px;
}

#ContentMpAuditFilter_CheckBox6 {
  z-index: 23;
}

#ContentMpAuditFilter_NumericInput8 {
  top: 220px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput8 {
  left: 410px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput8 {
  width: 60px;
}

#ContentMpAuditFilter_NumericInput8 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput8 {
  z-index: 24;
}

#ContentMpAuditFilter_NumericInput14 {
  top: 220px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput14 {
  left: 470px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput14 {
  width: 60px;
}

#ContentMpAuditFilter_NumericInput14 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput14 {
  z-index: 25;
}

#ContentMpAuditFilter_NumericInput15 {
  top: 220px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput15 {
  left: 530px;
  position: absolute;
}

#ContentMpAuditFilter_NumericInput15 {
  width: 60px;
}

#ContentMpAuditFilter_NumericInput15 {
  height: 30px;
}

#ContentMpAuditFilter_NumericInput15 {
  z-index: 26;
}

#ContentMpAuditFilter_ToggleButton1 {
  top: 180px;
  position: absolute;
}

#ContentMpAuditFilter_ToggleButton1 {
  left: 180px;
  position: absolute;
}

#ContentMpAuditFilter_ToggleButton1 {
  width: 100px;
}

#ContentMpAuditFilter_ToggleButton1 {
  height: 30px;
}

#ContentMpAuditFilter_ToggleButton1 {
  z-index: 27;
}

#ContentMpAuditFilter_ToggleButton1 span {
  font-size: 12px;
}

#ContentMpAuditFilter_ToggleButton2 {
  top: 220px;
  position: absolute;
}

#ContentMpAuditFilter_ToggleButton2 {
  left: 180px;
  position: absolute;
}

#ContentMpAuditFilter_ToggleButton2 {
  width: 100px;
}

#ContentMpAuditFilter_ToggleButton2 {
  height: 30px;
}

#ContentMpAuditFilter_ToggleButton2 {
  z-index: 28;
}

#ContentMpAuditFilter_ToggleButton2 span {
  font-size: 12px;
}

#ContentMpAuditFilter_ToggleButton3 {
  top: 260px;
  position: absolute;
}

#ContentMpAuditFilter_ToggleButton3 {
  left: 180px;
  position: absolute;
}

#ContentMpAuditFilter_ToggleButton3 {
  width: 100px;
}

#ContentMpAuditFilter_ToggleButton3 {
  height: 30px;
}

#ContentMpAuditFilter_ToggleButton3 {
  z-index: 29;
}

#ContentMpAuditFilter_ToggleButton3 span {
  font-size: 12px;
}

#ContentMpAuditFilter_Image1 {
  top: 20px;
  position: absolute;
}

#ContentMpAuditFilter_Image1 {
  left: 10px;
  position: absolute;
}

#ContentMpAuditFilter_Image1 {
  width: 60px;
}

#ContentMpAuditFilter_Image1 {
  height: 60px;
}

#ContentMpAuditFilter_Image1 {
  z-index: 30;
}
