@import "mixins.scss";
#ContentAlarm_TabControl1 {
	@include elemTop(0);
}
#ContentAlarm_TabControl1 {
	@include elemLeft(0);
}
#ContentAlarm_TabControl1 {
	@include elemWidth(1280);
}
#ContentAlarm_TabControl1 {
	@include elemHeight(720);
}
#ContentAlarm_TabControl1 {
		z-index: 0;
}
#ContentAlarm_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(640);
	}
}
#ContentAlarm_TabItem1_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(50);
	}
}
#ContentAlarm_TabItem1 {
		z-index: 0;
}
#ContentAlarm_TabItem1_breaseTabItemTab {
	&.tabItem span{
		font-size: 16px;
	}
}
#ContentAlarm_VideoPlayer1 {
	@include elemTop(30);
}
#ContentAlarm_VideoPlayer1 {
	@include elemLeft(0);
}
#ContentAlarm_VideoPlayer1 {
	@include elemWidth(1280);
}
#ContentAlarm_VideoPlayer1 {
	@include elemHeight(630);
}
#ContentAlarm_VideoPlayer1 {
		z-index: 0;
}
#ContentAlarm_TabItem2_breaseTabItemTab {
	&.tabItem{
	@include elemWidth(640);
	}
}
#ContentAlarm_TabItem2_breaseTabItemTab {
	&.tabItem{
	@include elemHeight(50);
	}
}
#ContentAlarm_TabItem2 {
		z-index: 1;
}
#ContentAlarm_TabItem2_breaseTabItemTab {
	&.tabItem span{
		font-size: 16px;
	}
}
#ContentAlarm_PDFViewer1 {
	@include elemTop(29);
}
#ContentAlarm_PDFViewer1 {
	@include elemLeft(0);
}
#ContentAlarm_PDFViewer1 {
	@include elemWidth(1260);
}
#ContentAlarm_PDFViewer1 {
	@include elemHeight(631);
}
#ContentAlarm_PDFViewer1 {
		z-index: 0;
}
