#ContentEditRecipe_Label1 {
  top: 60px;
  position: absolute;
}

#ContentEditRecipe_Label1 {
  left: 40px;
  position: absolute;
}

#ContentEditRecipe_Label1 {
  width: 150px;
}

#ContentEditRecipe_Label1 {
  height: 30px;
}

#ContentEditRecipe_Label1 {
  z-index: 0;
}

#ContentEditRecipe_Label2 {
  top: 140px;
  position: absolute;
}

#ContentEditRecipe_Label2 {
  left: 40px;
  position: absolute;
}

#ContentEditRecipe_Label2 {
  width: 150px;
}

#ContentEditRecipe_Label2 {
  height: 30px;
}

#ContentEditRecipe_Label2 {
  z-index: 1;
}

#ContentEditRecipe_Label3 {
  top: 219px;
  position: absolute;
}

#ContentEditRecipe_Label3 {
  left: 40px;
  position: absolute;
}

#ContentEditRecipe_Label3 {
  width: 150px;
}

#ContentEditRecipe_Label3 {
  height: 30px;
}

#ContentEditRecipe_Label3 {
  z-index: 2;
}

#ContentEditRecipe_Label4 {
  top: 300px;
  position: absolute;
}

#ContentEditRecipe_Label4 {
  left: 40px;
  position: absolute;
}

#ContentEditRecipe_Label4 {
  width: 150px;
}

#ContentEditRecipe_Label4 {
  height: 30px;
}

#ContentEditRecipe_Label4 {
  z-index: 3;
}

#ContentEditRecipe_NumericInput1 {
  top: 60px;
  position: absolute;
}

#ContentEditRecipe_NumericInput1 {
  left: 259px;
  position: absolute;
}

#ContentEditRecipe_NumericInput1 {
  width: 160px;
}

#ContentEditRecipe_NumericInput1 {
  height: 30px;
}

#ContentEditRecipe_NumericInput1 {
  z-index: 4;
}

#ContentEditRecipe_NumericInput2 {
  top: 140px;
  position: absolute;
}

#ContentEditRecipe_NumericInput2 {
  left: 259px;
  position: absolute;
}

#ContentEditRecipe_NumericInput2 {
  width: 160px;
}

#ContentEditRecipe_NumericInput2 {
  height: 30px;
}

#ContentEditRecipe_NumericInput2 {
  z-index: 5;
}

#ContentEditRecipe_NumericInput3 {
  top: 219px;
  position: absolute;
}

#ContentEditRecipe_NumericInput3 {
  left: 259px;
  position: absolute;
}

#ContentEditRecipe_NumericInput3 {
  width: 160px;
}

#ContentEditRecipe_NumericInput3 {
  height: 30px;
}

#ContentEditRecipe_NumericInput3 {
  z-index: 6;
}

#ContentEditRecipe_NumericInput4 {
  top: 300px;
  position: absolute;
}

#ContentEditRecipe_NumericInput4 {
  left: 259px;
  position: absolute;
}

#ContentEditRecipe_NumericInput4 {
  width: 160px;
}

#ContentEditRecipe_NumericInput4 {
  height: 30px;
}

#ContentEditRecipe_NumericInput4 {
  z-index: 7;
}

#ContentEditRecipe_SaveButton {
  top: 410px;
  position: absolute;
}

#ContentEditRecipe_SaveButton {
  left: 80px;
  position: absolute;
}

#ContentEditRecipe_SaveButton {
  width: 139px;
}

#ContentEditRecipe_SaveButton {
  height: 30px;
}

#ContentEditRecipe_SaveButton {
  z-index: 8;
}

#ContentEditRecipe_CancelButton {
  top: 410px;
  position: absolute;
}

#ContentEditRecipe_CancelButton {
  left: 229px;
  position: absolute;
}

#ContentEditRecipe_CancelButton {
  width: 131px;
}

#ContentEditRecipe_CancelButton {
  height: 30px;
}

#ContentEditRecipe_CancelButton {
  z-index: 9;
}
