@import "mixins.scss";
#ContentMpAuditFilter_TextInput1 {
	@include elemTop(180);
}
#ContentMpAuditFilter_TextInput1 {
	@include elemLeft(290);
}
#ContentMpAuditFilter_TextInput1 {
	@include elemWidth(300);
}
#ContentMpAuditFilter_TextInput1 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_TextInput1 {
		z-index: 0;
}
#ContentMpAuditFilter_TextInput2 {
	@include elemTop(260);
}
#ContentMpAuditFilter_TextInput2 {
	@include elemLeft(290);
}
#ContentMpAuditFilter_TextInput2 {
	@include elemWidth(300);
}
#ContentMpAuditFilter_TextInput2 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_TextInput2 {
		z-index: 1;
}
#ContentMpAuditFilter_TextInput3 {
	@include elemTop(300);
}
#ContentMpAuditFilter_TextInput3 {
	@include elemLeft(180);
}
#ContentMpAuditFilter_TextInput3 {
	@include elemWidth(410);
}
#ContentMpAuditFilter_TextInput3 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_TextInput3 {
		z-index: 2;
}
#ContentMpAuditFilter_NumericInput1 {
	@include elemTop(220);
}
#ContentMpAuditFilter_NumericInput1 {
	@include elemLeft(290);
}
#ContentMpAuditFilter_NumericInput1 {
	@include elemWidth(60);
}
#ContentMpAuditFilter_NumericInput1 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput1 {
		z-index: 3;
}
#ContentMpAuditFilter_NumericInput2 {
	@include elemTop(220);
}
#ContentMpAuditFilter_NumericInput2 {
	@include elemLeft(350);
}
#ContentMpAuditFilter_NumericInput2 {
	@include elemWidth(60);
}
#ContentMpAuditFilter_NumericInput2 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput2 {
		z-index: 4;
}
#ContentMpAuditFilter_NumericInput3 {
	@include elemTop(100);
}
#ContentMpAuditFilter_NumericInput3 {
	@include elemLeft(180);
}
#ContentMpAuditFilter_NumericInput3 {
	@include elemWidth(82);
}
#ContentMpAuditFilter_NumericInput3 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput3 {
		z-index: 5;
}
#ContentMpAuditFilter_NumericInput4 {
	@include elemTop(100);
}
#ContentMpAuditFilter_NumericInput4 {
	@include elemLeft(262);
}
#ContentMpAuditFilter_NumericInput4 {
	@include elemWidth(82);
}
#ContentMpAuditFilter_NumericInput4 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput4 {
		z-index: 6;
}
#ContentMpAuditFilter_NumericInput5 {
	@include elemTop(100);
}
#ContentMpAuditFilter_NumericInput5 {
	@include elemLeft(344);
}
#ContentMpAuditFilter_NumericInput5 {
	@include elemWidth(82);
}
#ContentMpAuditFilter_NumericInput5 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput5 {
		z-index: 7;
}
#ContentMpAuditFilter_NumericInput6 {
	@include elemTop(100);
}
#ContentMpAuditFilter_NumericInput6 {
	@include elemLeft(426);
}
#ContentMpAuditFilter_NumericInput6 {
	@include elemWidth(82);
}
#ContentMpAuditFilter_NumericInput6 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput6 {
		z-index: 8;
}
#ContentMpAuditFilter_NumericInput7 {
	@include elemTop(100);
}
#ContentMpAuditFilter_NumericInput7 {
	@include elemLeft(508);
}
#ContentMpAuditFilter_NumericInput7 {
	@include elemWidth(82);
}
#ContentMpAuditFilter_NumericInput7 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput7 {
		z-index: 9;
}
#ContentMpAuditFilter_NumericInput9 {
	@include elemTop(140);
}
#ContentMpAuditFilter_NumericInput9 {
	@include elemLeft(180);
}
#ContentMpAuditFilter_NumericInput9 {
	@include elemWidth(82);
}
#ContentMpAuditFilter_NumericInput9 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput9 {
		z-index: 10;
}
#ContentMpAuditFilter_NumericInput10 {
	@include elemTop(140);
}
#ContentMpAuditFilter_NumericInput10 {
	@include elemLeft(262);
}
#ContentMpAuditFilter_NumericInput10 {
	@include elemWidth(82);
}
#ContentMpAuditFilter_NumericInput10 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput10 {
		z-index: 11;
}
#ContentMpAuditFilter_NumericInput11 {
	@include elemTop(140);
}
#ContentMpAuditFilter_NumericInput11 {
	@include elemLeft(344);
}
#ContentMpAuditFilter_NumericInput11 {
	@include elemWidth(82);
}
#ContentMpAuditFilter_NumericInput11 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput11 {
		z-index: 12;
}
#ContentMpAuditFilter_NumericInput12 {
	@include elemTop(140);
}
#ContentMpAuditFilter_NumericInput12 {
	@include elemLeft(426);
}
#ContentMpAuditFilter_NumericInput12 {
	@include elemWidth(82);
}
#ContentMpAuditFilter_NumericInput12 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput12 {
		z-index: 13;
}
#ContentMpAuditFilter_NumericInput13 {
	@include elemTop(140);
}
#ContentMpAuditFilter_NumericInput13 {
	@include elemLeft(508);
}
#ContentMpAuditFilter_NumericInput13 {
	@include elemWidth(82);
}
#ContentMpAuditFilter_NumericInput13 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput13 {
		z-index: 14;
}
#ContentMpAuditFilter_YesButton {
	@include elemTop(360);
}
#ContentMpAuditFilter_YesButton {
	@include elemLeft(180);
}
#ContentMpAuditFilter_YesButton {
	@include elemAutoWidth(100);
}
#ContentMpAuditFilter_YesButton {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_YesButton {
		z-index: 15;
}
#ContentMpAuditFilter_NoButton {
	@include elemTop(360);
}
#ContentMpAuditFilter_NoButton {
	@include elemLeft(320);
}
#ContentMpAuditFilter_NoButton {
	@include elemAutoWidth(100);
}
#ContentMpAuditFilter_NoButton {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_NoButton {
		z-index: 16;
}
#ContentMpAuditFilter_Label1 {
	@include elemTop(10);
}
#ContentMpAuditFilter_Label1 {
	@include elemLeft(80);
}
#ContentMpAuditFilter_Label1 {
	@include elemAutoWidth(510);
}
#ContentMpAuditFilter_Label1 {
	@include elemAutoHeight(80);
}
#ContentMpAuditFilter_Label1 {
		z-index: 17;
}
#ContentMpAuditFilter_Label1 {
	@include text-alignment-all('center');
}
#ContentMpAuditFilter_CheckBox1 {
	@include elemTop(100);
}
#ContentMpAuditFilter_CheckBox1 {
	@include elemLeft(10);
}
#ContentMpAuditFilter_CheckBox1 {
	@include elemAutoWidth(160);
}
#ContentMpAuditFilter_CheckBox1 {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_CheckBox1 {
		z-index: 18;
}
#ContentMpAuditFilter_CheckBox2 {
	@include elemTop(140);
}
#ContentMpAuditFilter_CheckBox2 {
	@include elemLeft(10);
}
#ContentMpAuditFilter_CheckBox2 {
	@include elemAutoWidth(160);
}
#ContentMpAuditFilter_CheckBox2 {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_CheckBox2 {
		z-index: 19;
}
#ContentMpAuditFilter_CheckBox3 {
	@include elemTop(180);
}
#ContentMpAuditFilter_CheckBox3 {
	@include elemLeft(10);
}
#ContentMpAuditFilter_CheckBox3 {
	@include elemAutoWidth(160);
}
#ContentMpAuditFilter_CheckBox3 {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_CheckBox3 {
		z-index: 20;
}
#ContentMpAuditFilter_CheckBox4 {
	@include elemTop(220);
}
#ContentMpAuditFilter_CheckBox4 {
	@include elemLeft(10);
}
#ContentMpAuditFilter_CheckBox4 {
	@include elemAutoWidth(160);
}
#ContentMpAuditFilter_CheckBox4 {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_CheckBox4 {
		z-index: 21;
}
#ContentMpAuditFilter_CheckBox5 {
	@include elemTop(260);
}
#ContentMpAuditFilter_CheckBox5 {
	@include elemLeft(10);
}
#ContentMpAuditFilter_CheckBox5 {
	@include elemAutoWidth(160);
}
#ContentMpAuditFilter_CheckBox5 {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_CheckBox5 {
		z-index: 22;
}
#ContentMpAuditFilter_CheckBox6 {
	@include elemTop(300);
}
#ContentMpAuditFilter_CheckBox6 {
	@include elemLeft(10);
}
#ContentMpAuditFilter_CheckBox6 {
	@include elemAutoWidth(160);
}
#ContentMpAuditFilter_CheckBox6 {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_CheckBox6 {
		z-index: 23;
}
#ContentMpAuditFilter_NumericInput8 {
	@include elemTop(220);
}
#ContentMpAuditFilter_NumericInput8 {
	@include elemLeft(410);
}
#ContentMpAuditFilter_NumericInput8 {
	@include elemWidth(60);
}
#ContentMpAuditFilter_NumericInput8 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput8 {
		z-index: 24;
}
#ContentMpAuditFilter_NumericInput14 {
	@include elemTop(220);
}
#ContentMpAuditFilter_NumericInput14 {
	@include elemLeft(470);
}
#ContentMpAuditFilter_NumericInput14 {
	@include elemWidth(60);
}
#ContentMpAuditFilter_NumericInput14 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput14 {
		z-index: 25;
}
#ContentMpAuditFilter_NumericInput15 {
	@include elemTop(220);
}
#ContentMpAuditFilter_NumericInput15 {
	@include elemLeft(530);
}
#ContentMpAuditFilter_NumericInput15 {
	@include elemWidth(60);
}
#ContentMpAuditFilter_NumericInput15 {
	@include elemHeight(30);
}
#ContentMpAuditFilter_NumericInput15 {
		z-index: 26;
}
#ContentMpAuditFilter_ToggleButton1 {
	@include elemTop(180);
}
#ContentMpAuditFilter_ToggleButton1 {
	@include elemLeft(180);
}
#ContentMpAuditFilter_ToggleButton1 {
	@include elemAutoWidth(100);
}
#ContentMpAuditFilter_ToggleButton1 {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_ToggleButton1 {
		z-index: 27;
}
#ContentMpAuditFilter_ToggleButton1 {
	span{
		font-size: 12px;
	}
}
#ContentMpAuditFilter_ToggleButton2 {
	@include elemTop(220);
}
#ContentMpAuditFilter_ToggleButton2 {
	@include elemLeft(180);
}
#ContentMpAuditFilter_ToggleButton2 {
	@include elemAutoWidth(100);
}
#ContentMpAuditFilter_ToggleButton2 {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_ToggleButton2 {
		z-index: 28;
}
#ContentMpAuditFilter_ToggleButton2 {
	span{
		font-size: 12px;
	}
}
#ContentMpAuditFilter_ToggleButton3 {
	@include elemTop(260);
}
#ContentMpAuditFilter_ToggleButton3 {
	@include elemLeft(180);
}
#ContentMpAuditFilter_ToggleButton3 {
	@include elemAutoWidth(100);
}
#ContentMpAuditFilter_ToggleButton3 {
	@include elemAutoHeight(30);
}
#ContentMpAuditFilter_ToggleButton3 {
		z-index: 29;
}
#ContentMpAuditFilter_ToggleButton3 {
	span{
		font-size: 12px;
	}
}
#ContentMpAuditFilter_Image1 {
	@include elemTop(20);
}
#ContentMpAuditFilter_Image1 {
	@include elemLeft(10);
}
#ContentMpAuditFilter_Image1 {
	@include elemAutoWidth(60);
}
#ContentMpAuditFilter_Image1 {
	@include elemAutoHeight(60);
}
#ContentMpAuditFilter_Image1 {
		z-index: 30;
}
