#ContentImport_Label1 {
  top: 40px;
  position: absolute;
}

#ContentImport_Label1 {
  left: 60px;
  position: absolute;
}

#ContentImport_Label1 {
  width: 360px;
}

#ContentImport_Label1 {
  height: 100px;
}

#ContentImport_Label1 {
  z-index: 0;
}

#ContentImport_ImportConfig {
  top: 160px;
  position: absolute;
}

#ContentImport_ImportConfig {
  left: 120px;
  position: absolute;
}

#ContentImport_ImportConfig {
  width: 100px;
}

#ContentImport_ImportConfig {
  height: 30px;
}

#ContentImport_ImportConfig {
  z-index: 1;
}

#ContentImport_NoImportConfig {
  top: 160px;
  position: absolute;
}

#ContentImport_NoImportConfig {
  left: 240px;
  position: absolute;
}

#ContentImport_NoImportConfig {
  width: 100px;
}

#ContentImport_NoImportConfig {
  height: 30px;
}

#ContentImport_NoImportConfig {
  z-index: 2;
}
