#ContentAlarm_TabControl1 {
  top: 0px;
  position: absolute;
}

#ContentAlarm_TabControl1 {
  left: 0px;
  position: absolute;
}

#ContentAlarm_TabControl1 {
  width: 1280px;
}

#ContentAlarm_TabControl1 {
  height: 720px;
}

#ContentAlarm_TabControl1 {
  z-index: 0;
}

#ContentAlarm_TabItem1_breaseTabItemTab.tabItem {
  width: 640px;
}

#ContentAlarm_TabItem1_breaseTabItemTab.tabItem {
  height: 50px;
}

#ContentAlarm_TabItem1 {
  z-index: 0;
}

#ContentAlarm_TabItem1_breaseTabItemTab.tabItem span {
  font-size: 16px;
}

#ContentAlarm_VideoPlayer1 {
  top: 30px;
  position: absolute;
}

#ContentAlarm_VideoPlayer1 {
  left: 0px;
  position: absolute;
}

#ContentAlarm_VideoPlayer1 {
  width: 1280px;
}

#ContentAlarm_VideoPlayer1 {
  height: 630px;
}

#ContentAlarm_VideoPlayer1 {
  z-index: 0;
}

#ContentAlarm_TabItem2_breaseTabItemTab.tabItem {
  width: 640px;
}

#ContentAlarm_TabItem2_breaseTabItemTab.tabItem {
  height: 50px;
}

#ContentAlarm_TabItem2 {
  z-index: 1;
}

#ContentAlarm_TabItem2_breaseTabItemTab.tabItem span {
  font-size: 16px;
}

#ContentAlarm_PDFViewer1 {
  top: 29px;
  position: absolute;
}

#ContentAlarm_PDFViewer1 {
  left: 0px;
  position: absolute;
}

#ContentAlarm_PDFViewer1 {
  width: 1260px;
}

#ContentAlarm_PDFViewer1 {
  height: 631px;
}

#ContentAlarm_PDFViewer1 {
  z-index: 0;
}
