#ContentRenameRecipe_Label1 {
  top: 20px;
  position: absolute;
}

#ContentRenameRecipe_Label1 {
  left: 20px;
  position: absolute;
}

#ContentRenameRecipe_Label1 {
  width: 150px;
}

#ContentRenameRecipe_Label1 {
  height: 30px;
}

#ContentRenameRecipe_Label1 {
  z-index: 0;
}

#ContentRenameRecipe_TextInput1 {
  top: 20px;
  position: absolute;
}

#ContentRenameRecipe_TextInput1 {
  left: 200px;
  position: absolute;
}

#ContentRenameRecipe_TextInput1 {
  width: 230px;
}

#ContentRenameRecipe_TextInput1 {
  height: 30px;
}

#ContentRenameRecipe_TextInput1 {
  z-index: 1;
}

#ContentRenameRecipe_Label2 {
  top: 60px;
  position: absolute;
}

#ContentRenameRecipe_Label2 {
  left: 40px;
  position: absolute;
}

#ContentRenameRecipe_Label2 {
  width: 370px;
}

#ContentRenameRecipe_Label2 {
  height: 90px;
}

#ContentRenameRecipe_Label2 {
  z-index: 2;
}

#ContentRenameRecipe_Label2 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#ContentRenameRecipe_YesButton {
  top: 160px;
  position: absolute;
}

#ContentRenameRecipe_YesButton {
  left: 110px;
  position: absolute;
}

#ContentRenameRecipe_YesButton {
  width: 100px;
}

#ContentRenameRecipe_YesButton {
  height: 30px;
}

#ContentRenameRecipe_YesButton {
  z-index: 3;
}

#ContentRenameRecipe_NoButton {
  top: 160px;
  position: absolute;
}

#ContentRenameRecipe_NoButton {
  left: 240px;
  position: absolute;
}

#ContentRenameRecipe_NoButton {
  width: 100px;
}

#ContentRenameRecipe_NoButton {
  height: 30px;
}

#ContentRenameRecipe_NoButton {
  z-index: 4;
}
