@import "mixins.scss";
#ContentEditRecipe_Label1 {
	@include elemTop(60);
}
#ContentEditRecipe_Label1 {
	@include elemLeft(40);
}
#ContentEditRecipe_Label1 {
	@include elemAutoWidth(150);
}
#ContentEditRecipe_Label1 {
	@include elemAutoHeight(30);
}
#ContentEditRecipe_Label1 {
		z-index: 0;
}
#ContentEditRecipe_Label2 {
	@include elemTop(140);
}
#ContentEditRecipe_Label2 {
	@include elemLeft(40);
}
#ContentEditRecipe_Label2 {
	@include elemAutoWidth(150);
}
#ContentEditRecipe_Label2 {
	@include elemAutoHeight(30);
}
#ContentEditRecipe_Label2 {
		z-index: 1;
}
#ContentEditRecipe_Label3 {
	@include elemTop(219);
}
#ContentEditRecipe_Label3 {
	@include elemLeft(40);
}
#ContentEditRecipe_Label3 {
	@include elemAutoWidth(150);
}
#ContentEditRecipe_Label3 {
	@include elemAutoHeight(30);
}
#ContentEditRecipe_Label3 {
		z-index: 2;
}
#ContentEditRecipe_Label4 {
	@include elemTop(300);
}
#ContentEditRecipe_Label4 {
	@include elemLeft(40);
}
#ContentEditRecipe_Label4 {
	@include elemAutoWidth(150);
}
#ContentEditRecipe_Label4 {
	@include elemAutoHeight(30);
}
#ContentEditRecipe_Label4 {
		z-index: 3;
}
#ContentEditRecipe_NumericInput1 {
	@include elemTop(60);
}
#ContentEditRecipe_NumericInput1 {
	@include elemLeft(259);
}
#ContentEditRecipe_NumericInput1 {
	@include elemWidth(160);
}
#ContentEditRecipe_NumericInput1 {
	@include elemHeight(30);
}
#ContentEditRecipe_NumericInput1 {
		z-index: 4;
}
#ContentEditRecipe_NumericInput2 {
	@include elemTop(140);
}
#ContentEditRecipe_NumericInput2 {
	@include elemLeft(259);
}
#ContentEditRecipe_NumericInput2 {
	@include elemWidth(160);
}
#ContentEditRecipe_NumericInput2 {
	@include elemHeight(30);
}
#ContentEditRecipe_NumericInput2 {
		z-index: 5;
}
#ContentEditRecipe_NumericInput3 {
	@include elemTop(219);
}
#ContentEditRecipe_NumericInput3 {
	@include elemLeft(259);
}
#ContentEditRecipe_NumericInput3 {
	@include elemWidth(160);
}
#ContentEditRecipe_NumericInput3 {
	@include elemHeight(30);
}
#ContentEditRecipe_NumericInput3 {
		z-index: 6;
}
#ContentEditRecipe_NumericInput4 {
	@include elemTop(300);
}
#ContentEditRecipe_NumericInput4 {
	@include elemLeft(259);
}
#ContentEditRecipe_NumericInput4 {
	@include elemWidth(160);
}
#ContentEditRecipe_NumericInput4 {
	@include elemHeight(30);
}
#ContentEditRecipe_NumericInput4 {
		z-index: 7;
}
#ContentEditRecipe_SaveButton {
	@include elemTop(410);
}
#ContentEditRecipe_SaveButton {
	@include elemLeft(80);
}
#ContentEditRecipe_SaveButton {
	@include elemAutoWidth(139);
}
#ContentEditRecipe_SaveButton {
	@include elemAutoHeight(30);
}
#ContentEditRecipe_SaveButton {
		z-index: 8;
}
#ContentEditRecipe_CancelButton {
	@include elemTop(410);
}
#ContentEditRecipe_CancelButton {
	@include elemLeft(229);
}
#ContentEditRecipe_CancelButton {
	@include elemAutoWidth(131);
}
#ContentEditRecipe_CancelButton {
	@include elemAutoHeight(30);
}
#ContentEditRecipe_CancelButton {
		z-index: 9;
}
