@import "mixins.scss";
#ContentCreateNewRecipe_Label1 {
	@include elemTop(90);
}
#ContentCreateNewRecipe_Label1 {
	@include elemLeft(40);
}
#ContentCreateNewRecipe_Label1 {
	@include elemAutoWidth(150);
}
#ContentCreateNewRecipe_Label1 {
	@include elemAutoHeight(30);
}
#ContentCreateNewRecipe_Label1 {
		z-index: 0;
}
#ContentCreateNewRecipe_Label2 {
	@include elemTop(130);
}
#ContentCreateNewRecipe_Label2 {
	@include elemLeft(40);
}
#ContentCreateNewRecipe_Label2 {
	@include elemAutoWidth(150);
}
#ContentCreateNewRecipe_Label2 {
	@include elemAutoHeight(30);
}
#ContentCreateNewRecipe_Label2 {
		z-index: 1;
}
#ContentCreateNewRecipe_Label3 {
	@include elemTop(170);
}
#ContentCreateNewRecipe_Label3 {
	@include elemLeft(40);
}
#ContentCreateNewRecipe_Label3 {
	@include elemAutoWidth(150);
}
#ContentCreateNewRecipe_Label3 {
	@include elemAutoHeight(30);
}
#ContentCreateNewRecipe_Label3 {
		z-index: 2;
}
#ContentCreateNewRecipe_Label4 {
	@include elemTop(210);
}
#ContentCreateNewRecipe_Label4 {
	@include elemLeft(40);
}
#ContentCreateNewRecipe_Label4 {
	@include elemAutoWidth(150);
}
#ContentCreateNewRecipe_Label4 {
	@include elemAutoHeight(30);
}
#ContentCreateNewRecipe_Label4 {
		z-index: 3;
}
#ContentCreateNewRecipe_NumericInput1 {
	@include elemTop(90);
}
#ContentCreateNewRecipe_NumericInput1 {
	@include elemLeft(250);
}
#ContentCreateNewRecipe_NumericInput1 {
	@include elemWidth(160);
}
#ContentCreateNewRecipe_NumericInput1 {
	@include elemHeight(30);
}
#ContentCreateNewRecipe_NumericInput1 {
		z-index: 4;
}
#ContentCreateNewRecipe_NumericInput2 {
	@include elemTop(130);
}
#ContentCreateNewRecipe_NumericInput2 {
	@include elemLeft(250);
}
#ContentCreateNewRecipe_NumericInput2 {
	@include elemWidth(160);
}
#ContentCreateNewRecipe_NumericInput2 {
	@include elemHeight(30);
}
#ContentCreateNewRecipe_NumericInput2 {
		z-index: 5;
}
#ContentCreateNewRecipe_NumericInput3 {
	@include elemTop(170);
}
#ContentCreateNewRecipe_NumericInput3 {
	@include elemLeft(250);
}
#ContentCreateNewRecipe_NumericInput3 {
	@include elemWidth(160);
}
#ContentCreateNewRecipe_NumericInput3 {
	@include elemHeight(30);
}
#ContentCreateNewRecipe_NumericInput3 {
		z-index: 6;
}
#ContentCreateNewRecipe_NumericInput4 {
	@include elemTop(210);
}
#ContentCreateNewRecipe_NumericInput4 {
	@include elemLeft(250);
}
#ContentCreateNewRecipe_NumericInput4 {
	@include elemWidth(160);
}
#ContentCreateNewRecipe_NumericInput4 {
	@include elemHeight(30);
}
#ContentCreateNewRecipe_NumericInput4 {
		z-index: 7;
}
#ContentCreateNewRecipe_Label6 {
	@include elemTop(300);
}
#ContentCreateNewRecipe_Label6 {
	@include elemLeft(40);
}
#ContentCreateNewRecipe_Label6 {
	@include elemAutoWidth(370);
}
#ContentCreateNewRecipe_Label6 {
	@include elemAutoHeight(80);
}
#ContentCreateNewRecipe_Label6 {
		z-index: 8;
}
#ContentCreateNewRecipe_Label6 {
	@include text-alignment-all('center');
}
#ContentCreateNewRecipe_YesButton {
	@include elemTop(410);
}
#ContentCreateNewRecipe_YesButton {
	@include elemLeft(120);
}
#ContentCreateNewRecipe_YesButton {
	@include elemAutoWidth(100);
}
#ContentCreateNewRecipe_YesButton {
	@include elemAutoHeight(30);
}
#ContentCreateNewRecipe_YesButton {
		z-index: 9;
}
#ContentCreateNewRecipe_NoButton {
	@include elemTop(410);
}
#ContentCreateNewRecipe_NoButton {
	@include elemLeft(230);
}
#ContentCreateNewRecipe_NoButton {
	@include elemAutoWidth(100);
}
#ContentCreateNewRecipe_NoButton {
	@include elemAutoHeight(30);
}
#ContentCreateNewRecipe_NoButton {
		z-index: 11;
}
#ContentCreateNewRecipe_Label7 {
	@include elemTop(30);
}
#ContentCreateNewRecipe_Label7 {
	@include elemLeft(40);
}
#ContentCreateNewRecipe_Label7 {
	@include elemAutoWidth(180);
}
#ContentCreateNewRecipe_Label7 {
	@include elemAutoHeight(30);
}
#ContentCreateNewRecipe_Label7 {
		z-index: 10;
}
#ContentCreateNewRecipe_TextInput1 {
	@include elemTop(30);
}
#ContentCreateNewRecipe_TextInput1 {
	@include elemLeft(250);
}
#ContentCreateNewRecipe_TextInput1 {
	@include elemWidth(160);
}
#ContentCreateNewRecipe_TextInput1 {
	@include elemHeight(30);
}
#ContentCreateNewRecipe_TextInput1 {
		z-index: 12;
}
