@import "mixins.scss";
#ContentRenameRecipe_Label1 {
	@include elemTop(20);
}
#ContentRenameRecipe_Label1 {
	@include elemLeft(20);
}
#ContentRenameRecipe_Label1 {
	@include elemAutoWidth(150);
}
#ContentRenameRecipe_Label1 {
	@include elemAutoHeight(30);
}
#ContentRenameRecipe_Label1 {
		z-index: 0;
}
#ContentRenameRecipe_TextInput1 {
	@include elemTop(20);
}
#ContentRenameRecipe_TextInput1 {
	@include elemLeft(200);
}
#ContentRenameRecipe_TextInput1 {
	@include elemWidth(230);
}
#ContentRenameRecipe_TextInput1 {
	@include elemHeight(30);
}
#ContentRenameRecipe_TextInput1 {
		z-index: 1;
}
#ContentRenameRecipe_Label2 {
	@include elemTop(60);
}
#ContentRenameRecipe_Label2 {
	@include elemLeft(40);
}
#ContentRenameRecipe_Label2 {
	@include elemAutoWidth(370);
}
#ContentRenameRecipe_Label2 {
	@include elemAutoHeight(90);
}
#ContentRenameRecipe_Label2 {
		z-index: 2;
}
#ContentRenameRecipe_Label2 {
	@include text-alignment-all('center');
}
#ContentRenameRecipe_YesButton {
	@include elemTop(160);
}
#ContentRenameRecipe_YesButton {
	@include elemLeft(110);
}
#ContentRenameRecipe_YesButton {
	@include elemAutoWidth(100);
}
#ContentRenameRecipe_YesButton {
	@include elemAutoHeight(30);
}
#ContentRenameRecipe_YesButton {
		z-index: 3;
}
#ContentRenameRecipe_NoButton {
	@include elemTop(160);
}
#ContentRenameRecipe_NoButton {
	@include elemLeft(240);
}
#ContentRenameRecipe_NoButton {
	@include elemAutoWidth(100);
}
#ContentRenameRecipe_NoButton {
	@include elemAutoHeight(30);
}
#ContentRenameRecipe_NoButton {
		z-index: 4;
}
