#ContentLogin_ButtonClose {
  top: 250px;
  position: absolute;
}

#ContentLogin_ButtonClose {
  left: 250px;
  position: absolute;
}

#ContentLogin_ButtonClose {
  width: 100px;
}

#ContentLogin_ButtonClose {
  height: 30px;
}

#ContentLogin_ButtonClose {
  z-index: 0;
}

#ContentLogin_ButtonClose {
  border-radius: 5px;
}

#ContentLogin_TextInput1 {
  top: 90px;
  position: absolute;
}

#ContentLogin_TextInput1 {
  left: 230px;
  position: absolute;
}

#ContentLogin_TextInput1 {
  width: 150px;
}

#ContentLogin_TextInput1 {
  height: 30px;
}

#ContentLogin_TextInput1 {
  z-index: 1;
}

#ContentLogin_Label1 {
  top: 90px;
  position: absolute;
}

#ContentLogin_Label1 {
  left: 90px;
  position: absolute;
}

#ContentLogin_Label1 {
  width: 130px;
}

#ContentLogin_Label1 {
  height: 30px;
}

#ContentLogin_Label1 {
  z-index: 2;
}

#ContentLogin_Label2 {
  top: 140px;
  position: absolute;
}

#ContentLogin_Label2 {
  left: 90px;
  position: absolute;
}

#ContentLogin_Label2 {
  width: 130px;
}

#ContentLogin_Label2 {
  height: 30px;
}

#ContentLogin_Label2 {
  z-index: 3;
}

#ContentLogin_LoginButton {
  top: 250px;
  position: absolute;
}

#ContentLogin_LoginButton {
  left: 100px;
  position: absolute;
}

#ContentLogin_LoginButton {
  width: 100px;
}

#ContentLogin_LoginButton {
  height: 30px;
}

#ContentLogin_LoginButton {
  z-index: 4;
}

#ContentLogin_LoginButton {
  border-radius: 5px;
}

#ContentLogin_Password1 {
  top: 140px;
  position: absolute;
}

#ContentLogin_Password1 {
  left: 230px;
  position: absolute;
}

#ContentLogin_Password1 {
  width: 150px;
}

#ContentLogin_Password1 {
  height: 30px;
}

#ContentLogin_Password1 {
  z-index: 5;
}

#ContentLogin_FlyOut1.right {
  top: 0px;
  position: absolute;
}

#ContentLogin_FlyOut1.left {
  top: 0px;
  position: absolute;
}

#ContentLogin_FlyOut1.top {
  left: 40px;
  position: absolute;
}

#ContentLogin_FlyOut1.bottom {
  left: 40px;
  position: absolute;
}

#ContentLogin_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 300px;
}

#ContentLogin_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 200px;
}

#ContentLogin_FlyOut1 {
  z-index: 6;
}

#ContentLogin_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton img {
  height: 50px;
}

#ContentLogin_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton svg {
  height: 50px;
}

#ContentLogin_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton img {
  width: 50px;
}

#ContentLogin_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton svg {
  width: 50px;
}

#ContentLogin_FlyOut1_breaseFlyOutWrapper :not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
  background-color: rgba(255, 255, 255, 0);
}

#ContentLogin_FlyOut1_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-color: whitesmoke;
}

#ContentLogin_Label3 {
  top: 60px;
  position: absolute;
}

#ContentLogin_Label3 {
  left: 40px;
  position: absolute;
}

#ContentLogin_Label3 {
  width: 120px;
}

#ContentLogin_Label3 {
  height: 30px;
}

#ContentLogin_Label3 {
  z-index: 0;
}

#ContentLogin_Label3 {
  font-size: 20px;
}

#ContentLogin_Label4 {
  top: 100px;
  position: absolute;
}

#ContentLogin_Label4 {
  left: 40px;
  position: absolute;
}

#ContentLogin_Label4 {
  width: 120px;
}

#ContentLogin_Label4 {
  height: 30px;
}

#ContentLogin_Label4 {
  z-index: 1;
}

#ContentLogin_Label4 {
  font-size: 20px;
}

#ContentLogin_Label5 {
  top: 60px;
  position: absolute;
}

#ContentLogin_Label5 {
  left: 160px;
  position: absolute;
}

#ContentLogin_Label5 {
  width: 80px;
}

#ContentLogin_Label5 {
  height: 30px;
}

#ContentLogin_Label5 {
  z-index: 2;
}

#ContentLogin_Label5 {
  font-size: 20px;
}

#ContentLogin_Label6 {
  top: 100px;
  position: absolute;
}

#ContentLogin_Label6 {
  left: 160px;
  position: absolute;
}

#ContentLogin_Label6 {
  width: 80px;
}

#ContentLogin_Label6 {
  height: 30px;
}

#ContentLogin_Label6 {
  z-index: 3;
}

#ContentLogin_Label6 {
  font-size: 20px;
}
