#ContentLoginError_StatusOutput {
  top: 60px;
  position: absolute;
}

#ContentLoginError_StatusOutput {
  left: 40px;
  position: absolute;
}

#ContentLoginError_StatusOutput {
  width: 380px;
}

#ContentLoginError_StatusOutput {
  height: 30px;
}

#ContentLoginError_StatusOutput {
  z-index: 0;
}

#ContentLoginError_LoginErrorOk {
  top: 160px;
  position: absolute;
}

#ContentLoginError_LoginErrorOk {
  left: 180px;
  position: absolute;
}

#ContentLoginError_LoginErrorOk {
  width: 100px;
}

#ContentLoginError_LoginErrorOk {
  height: 30px;
}

#ContentLoginError_LoginErrorOk {
  z-index: 1;
}
