#ContentEnergy_OnlineChart2 {
  top: 40px;
  position: absolute;
}

#ContentEnergy_OnlineChart2 {
  left: 20px;
  position: absolute;
}

#ContentEnergy_OnlineChart2 {
  width: 660px;
}

#ContentEnergy_OnlineChart2 {
  height: 358px;
}

#ContentEnergy_OnlineChart2 {
  z-index: 0;
}

#ContentEnergy_OnlineChartYAxis2 {
  width: 60px;
}

#ContentEnergy_OnlineChartYAxis2 {
  flex-basis: 60px;
}

#ContentEnergy_OnlineChartYAxis2 {
  z-index: 0;
}

#ContentEnergy_OnlineChartGraph2 {
  z-index: 0;
}

#ContentEnergy_OnlineChartGraph2_breaseChartYValueList_line:not(.disabled).graph {
  stroke: cornflowerblue;
}

#ContentEnergy_OnlineChartGraph2.breaseChartYValueListWidget.editMode {
  border-color: cornflowerblue;
}

#ContentEnergy_OnlineChartGraph1 {
  z-index: 1;
}

#ContentEnergy_OnlineChartTimeAxis2 {
  height: 50px;
}

#ContentEnergy_OnlineChartTimeAxis2 {
  flex-basis: 50px;
}

#ContentEnergy_OnlineChartTimeAxis2 {
  z-index: 1;
}
