@import "mixins.scss";
#ContentEnergy_OnlineChart2 {
	@include elemTop(40);
}
#ContentEnergy_OnlineChart2 {
	@include elemLeft(20);
}
#ContentEnergy_OnlineChart2 {
	@include elemWidth(660);
}
#ContentEnergy_OnlineChart2 {
	@include elemHeight(358);
}
#ContentEnergy_OnlineChart2 {
		z-index: 0;
}
#ContentEnergy_OnlineChartYAxis2 {
	@include elemWidth(60);
}
#ContentEnergy_OnlineChartYAxis2 {
	@include elemFlexBasis(60);
}
#ContentEnergy_OnlineChartYAxis2 {
		z-index: 0;
}
#ContentEnergy_OnlineChartGraph2 {
		z-index: 0;
}
#ContentEnergy_OnlineChartGraph2_breaseChartYValueList_line {
	&:not(.disabled).graph{
		stroke: rgba(100, 149, 237, 1);
	}
}
#ContentEnergy_OnlineChartGraph2 {
	&.breaseChartYValueListWidget.editMode{
		border-color: rgba(100, 149, 237, 1);
	}
}
#ContentEnergy_OnlineChartGraph1 {
		z-index: 1;
}
#ContentEnergy_OnlineChartTimeAxis2 {
	@include elemHeight(50);
}
#ContentEnergy_OnlineChartTimeAxis2 {
	@include elemFlexBasis(50);
}
#ContentEnergy_OnlineChartTimeAxis2 {
		z-index: 1;
}
