@import '../../../../css/libs/mixins.scss';

.breaseWindow.breaseChangePasswordDialog {
    width: 342px;
    height: 524px;
    @include box-sizing(content-box);
    overflow: hidden;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-top: none;

    .breaseDialogWindowHeader div.innerHeader {
        padding: 0 0 0 10px;
    }

    div.contentBox {
        overflow: hidden;
    }

    header {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        @include displayFlexBox(false);
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        justify-content: flex-start;
        align-content: stretch;
        @include align-items(flex-start);
        position: relative;
        z-index: 2;

        .breaseWindowClose {
            right: 0px;
        }

        div.innerHeader {
            margin-right: 0;
            @include flex(1 1 auto);
            order: 0;
            align-self: auto;
            position: relative;
            @include displayFlexBox(false);
            @include flex-direction(row);
            @include flex-wrap(nowrap);
            @include align-items(stretch);
            @include box-sizing(border-box);

            .textDiv {
                display: inline-block;
                box-sizing: content-box;
                @include flex(0 1 auto);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                pointer-events: none;
                margin: 0 0 0 5px;
                padding: 0;
                height: 100%;
            }
        }
    }

    .contentBox {
        @include box-sizing(content-box);
        background-color: transparent;
        position: relative;
        z-index: 1;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        > .errorText {
            padding: 35px 0 0 35px;
            height: 150px;
            width: 400px;
            background-color: #fff;
            color: #000;
            @include box-sizing(border-box);
        }

        .outputArea {
            position: relative;
            overflow-y: auto;
            width: 290px;
            height: 90px;
            top: 0px;
            left: 0px;
            margin: 12px 0;

            p {
                margin: 2px 0px;
                text-align: center;
            }

            p.error {
                color: #ff0000;
            }

            p.success {
                color: #00b400;
            }
        }

        [data-brease-widget] {
            position: relative;
        }

        .policyBox {
            position: absolute;
            left: 325px;
            top: 100px;
            width: 280px;
            border: 1px solid #008080;
        }

        .policyBoxHeader {
            color: #fff;
            background-color: #008080;
            height: 30px;
            line-height: 30px;
            padding: 0 5px 0 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .policyLine {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: center;

            .iconSuccess {
                display: none;
            }

            .iconFail {
                display: none;
            }

            &.success {
                .iconSuccess {
                    display: block;
                }

                .iconFail {
                    display: none;
                }

                .textOutput {
                    margin: 4px 0px 4px 8px;
                }
            }

            &.fail {
                .iconSuccess {
                    display: none;
                }

                .iconFail {
                    display: block;
                }

                .textOutput {
                    margin: 4px 0px 4px 8px;
                }
            }
        }

        .policyIcon {
            flex: 0 0 auto;
            align-self: auto;
            height: 16px;
            width: 16px;
            margin-left: 8px;
        }

        .textOutput {
            flex: 1 1 auto;
            align-self: auto;
            margin: 4px 0px 4px 8px;
            padding: 5px 5px 5px 0;
        }
    }

    .breaseWindowClose {
        order: 0;
        @include flex(0 1 auto);
        align-self: auto;
        overflow: hidden;
        position: relative;

        &:after {
            color: #fff;
        }
    }

    #chpwd_GroupBox {
        height: 432px;
        top: 26px;
        left: 26px;
        width: 292px;
        position: absolute;
        border: none;
    }

    .showPolicy #chpwd_GroupBox {
        top: 22px;
        left: 20px;
    }

    .chpwd_userName_label {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 242px;
        margin: 0px 0px 0px 24px;

        span {
            padding: 0px 0px 4px 2px;
        }
    }

    #brease_chpwd_userName {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 242px;
        margin: 0px 0px 0px 24px;

        &.error {
            border-color: #ff0000;
        }
    }

    .chpwd_oldPassword_label {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 242px;
        margin: 0px 0px 0px 24px;

        span {
            padding: 0px 0px 4px 2px;
        }
    }

    #brease_chpwd_oldPassword {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 242px;
        margin: 0px 0px 0px 24px;

        &.error {
            border-color: #ff0000;
        }
    }

    .chpwd_newPassword_label {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 242px;
        margin: 0px 0px 0px 24px;

        span {
            padding: 0px 0px 4px 2px;
        }
    }

    #brease_chpwd_newPassword {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 242px;
        margin: 0px 0px 0px 24px;

        &.error {
            border-color: #ff0000;
        }
    }

    .chpwd_confirmPassword_label {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 242px;
        margin: 0px 0px 0px 24px;

        span {
            padding: 0px 0px 4px 2px;
        }
    }

    #brease_chpwd_confirmPassword {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 242px;
        margin: 0px 0px 0px 24px;

        &.error {
            border-color: #ff0000;
        }
    }

    #brease_chpwd_btn_change {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 242px;
        margin: 0px 0px 15px 24px;
    }

    #brease_chpwd_btn_cancel {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 182px;
        margin: 0px 0px 0px 54px;
    }

    #brease_chpwd_btn_confirm {
        height: 30px;
        top: 0px;
        left: 0px;
        width: 242px;
        margin: 0px 0px 0px 24px;
    }
}
