.breaseChartYValueListWidget.editMode {
    position: relative !important;
    flex: 0 0 15%;
    padding: 0px;
	margin: 5% 5px;
	height: 8%;
    box-sizing: border-box;
    background-clip: content-box;
    overflow: hidden;
    word-wrap: break-word;
    background-color: rgba(255,255,255,0);
	border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: rgba(255, 0, 0, 1);
}

.breaseChartYValueListWidget {
}
