@import "mixins.scss";
@mixin widgets_brease_Password_base {
	@include elemAutoWidth(100);
	@include elemAutoHeight(30);
	@include elemMinWidth(0);
	@include elemMaxWidth(0);
	@include elemMinHeight(0);
	@include elemMaxHeight(0);
	&:not(.active):not(.disabled) {
		border-width: 2px;
	}
	&.active:not(.disabled) {
		border-width: 2px;
	}
	&.disabled {
		border-width: 2px;
	}
	@include border-radius(0px);
	&:not(.disabled):not(.active) {
		background-color: #FFFFFF;
	}
	&.disabled {
		background-color: #F1F1F1;
	}
	&:not(.disabled) {
		@include backGroundGradient('');
	}
	&.disabled {
		@include backGroundGradient('');
	}
	&:not(.disabled):not(.active) {
		border-color: #999999;
	}
	&.disabled {
		border-color: #C8C8C8;
	}
	border-style: solid;
	&:not(.disabled):not(.active) input {
		color: #000000;
	}
	input::placeholder {
		color: #C8C8C8;
	}
	input::-webkit-input-placeholder {
		color: #C8C8C8;
	}
	&.disabled input {
		color: #C8C8C8;
	}
	&.disabled span.breaseNumericInput_unit {
		color: #C8C8C8;
	}
	&:not(.disabled).active {
		border-color: #FF8800;
	}
	&:not(.disabled).active {
		background-color: #F7F7FF;
	}
	&:not(.disabled).active input {
		color: #333333;
	}
	input {
		@include text-alignment(right);
	}
	opacity: 1;
	input {
		font-family: Arial;
	}
	input {
		font-size: 20px;
	}
	input {
		@include font-weight-bold(true);
	}
	@include rotate(0deg);
	input {
		@include font-style-italic(false);
	}
	@include box-shadow(none);
	padding: 0 15px 0 15px;
	margin: 0px;

}

.widgets_brease_Password_style_default {
@include widgets_brease_Password_base
}
