#content_main_Label1 {
  top: 140px;
  position: absolute;
}

#content_main_Label1 {
  left: 100px;
  position: absolute;
}

#content_main_Label1 {
  width: 300px;
}

#content_main_Label1 {
  height: 220px;
}

#content_main_Label1 {
  z-index: 0;
}

#content_main_Label1 {
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content_main_Label1 {
  font-size: 50px;
}

#content_main_Label1 {
  font-weight: bold;
}
