@import "mixins.scss";
@mixin widgets_brease_OnlineChartGraph_base {
&:not(.disabled).graph {
	stroke: #FF0000;
}
&.breaseChartYValueListWidget.editMode {
	border-color: #FF0000;
}
&.disabled.graph {
	stroke: rgba(221, 221, 221, 1);
}
&.breaseChartYValueListWidget.editMode.disabled {
	border-color: rgba(221, 221, 221, 1);
}
&.graph {
	stroke-width: 2px;
}
&.breaseChartYValueListWidget.editMode {
	border-top-width: 2px;
}
&:not(.disabled).area {
	fill: rgba(255, 255, 255, 0);
}
&.breaseChartYValueListWidget.editMode {
	background-color: rgba(255, 255, 255, 0);
}
&.disabled.area {
	fill: rgba(255, 255, 255, 0);
}
&.breaseChartYValueListWidget.editMode.disabled {
	background-color: rgba(255, 255, 255, 0);
}
circle.marker:not(.active):not(.disabled) {
	stroke: #FFBB88;
}
circle.marker:not(.active):not(.disabled) {
	fill: #FFBB88;
}
circle.marker.active:not(.disabled) {
	stroke: #FF8800;
}
circle.marker.active:not(.disabled) {
	fill: #FF8800;
}
circle.marker.disabled {
	stroke: #EEEEEE;
}
circle.marker.disabled {
	fill: #EEEEEE;
}

}

