@import "mixins.scss";
@import "../../../../widgets/brease/FlyOut/meta/FlyOut_base";
.widgets_brease_FlyOut_style_transparent {
@include widgets_brease_FlyOut_base; 
.breaseFlyOutWrapper > .container {
	background-color: transparent;
}
.breaseFlyOutWrapper > .container {
	border-style: none;
}
.breaseFlyOutWrapper > .container {
	border-width: 0px;
}
.breaseFlyOutWrapper > .flyoutButton {
	border-width: 0px;
}
:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
	background-color: transparent;
}

}
