#content_main_s_Label1 {
  width: 80px;
}

#content_main_s_Label1 {
  height: 30px;
}

#content_main_s_Label1 {
  top: 220px;
  position: absolute;
}

#content_main_s_Label1 {
  left: 220px;
  position: absolute;
}

#content_main_s_Label1 {
  z-index: 0;
}
