#ContentTop_TextOutput1 {
  top: 40px;
  position: absolute;
}

#ContentTop_TextOutput1 {
  left: 660px;
  position: absolute;
}

#ContentTop_TextOutput1 {
  width: 170px;
}

#ContentTop_TextOutput1 {
  height: 30px;
}

#ContentTop_TextOutput1 {
  z-index: 0;
}

#ContentTop_TextOutput1 {
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#ContentTop_FlyOut2.right {
  top: 0px;
  position: absolute;
}

#ContentTop_FlyOut2.left {
  top: 0px;
  position: absolute;
}

#ContentTop_FlyOut2.top {
  left: 990px;
  position: absolute;
}

#ContentTop_FlyOut2.bottom {
  left: 990px;
  position: absolute;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 610px;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 400px;
}

#ContentTop_FlyOut2 {
  z-index: 1;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  height: 100px;
}

#ContentTop_FlyOut2 {
  height: 100px;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  width: 100px;
}

#ContentTop_FlyOut2 {
  width: 100px;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton img {
  height: 60px;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton svg {
  height: 60px;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton img {
  width: 60px;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton svg {
  width: 60px;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  border-radius: 5px;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper :not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
  background-color: rgba(255, 255, 255, 0);
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-style: none;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-width: 0px;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-radius: 0px;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-color: #ff8000;
}

#ContentTop_FlyOut2_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton span {
  font-size: 15px;
}

#ContentTop_Table1 {
  top: 20px;
  position: absolute;
}

#ContentTop_Table1 {
  left: 50px;
  position: absolute;
}

#ContentTop_Table1 {
  width: 500px;
}

#ContentTop_Table1 {
  height: 300px;
}

#ContentTop_Table1 {
  z-index: 0;
}

#ContentTop_TableItem1 {
  z-index: 0;
}

#ContentTop_NavigationButton1 {
  top: 340px;
  position: absolute;
}

#ContentTop_NavigationButton1 {
  left: 250px;
  position: absolute;
}

#ContentTop_NavigationButton1 {
  width: 100px;
}

#ContentTop_NavigationButton1 {
  height: 50px;
}

#ContentTop_NavigationButton1 {
  z-index: 1;
}

#ContentTop_NavigationButton1 img {
  height: 35px;
}

#ContentTop_NavigationButton1 svg {
  height: 35px;
}

#ContentTop_NavigationButton1 img {
  width: 35px;
}

#ContentTop_NavigationButton1 svg {
  width: 35px;
}

#ContentTop_NavigationButton1 {
  border-radius: 5px;
}

#ContentTop_DateTimeOutput1 {
  top: 40px;
  position: absolute;
}

#ContentTop_DateTimeOutput1 {
  left: 1220px;
  position: absolute;
}

#ContentTop_DateTimeOutput1 {
  width: 360px;
}

#ContentTop_DateTimeOutput1 {
  height: 30px;
}

#ContentTop_DateTimeOutput1 {
  z-index: 2;
}
