@import "mixins.scss";
#ContentTop_TextOutput1 {
	@include elemTop(40);
}
#ContentTop_TextOutput1 {
	@include elemLeft(660);
}
#ContentTop_TextOutput1 {
	@include elemAutoWidth(170);
}
#ContentTop_TextOutput1 {
	@include elemAutoHeight(30);
}
#ContentTop_TextOutput1 {
		z-index: 0;
}
#ContentTop_TextOutput1 {
	@include text-alignment-all('left');
}
#ContentTop_FlyOut2 {
	&.right{
	@include elemTop(0);
	}
}
#ContentTop_FlyOut2 {
	&.left{
	@include elemTop(0);
	}
}
#ContentTop_FlyOut2 {
	&.top{
	@include elemLeft(990);
	}
}
#ContentTop_FlyOut2 {
	&.bottom{
	@include elemLeft(990);
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemWidth(610);
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemHeight(400);
	}
}
#ContentTop_FlyOut2 {
		z-index: 1;
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemHeight(100);
	}
}
#ContentTop_FlyOut2 {
	@include elemHeight(100);
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemWidth(100);
	}
}
#ContentTop_FlyOut2 {
	@include elemWidth(100);
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton img{
	@include imageHeight(60);
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton svg{
	@include imageHeight(60);
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton img{
	@include imageWidth(60);
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton svg{
	@include imageWidth(60);
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include border-radius(5px);
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton{
		background-color: rgba(255, 255, 255, 0);
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		border-style: none;
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		border-width: 0px;
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include border-radius(0px);
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		background-color: rgba(255, 128, 0, 1);
	}
}
#ContentTop_FlyOut2_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton span{
		font-size: 15px;
	}
}
#ContentTop_Table1 {
	@include elemTop(20);
}
#ContentTop_Table1 {
	@include elemLeft(50);
}
#ContentTop_Table1 {
	@include elemWidth(500);
}
#ContentTop_Table1 {
	@include elemHeight(300);
}
#ContentTop_Table1 {
		z-index: 0;
}
#ContentTop_TableItem1 {
		z-index: 0;
}
#ContentTop_NavigationButton1 {
	@include elemTop(340);
}
#ContentTop_NavigationButton1 {
	@include elemLeft(250);
}
#ContentTop_NavigationButton1 {
	@include elemAutoWidth(100);
}
#ContentTop_NavigationButton1 {
	@include elemAutoHeight(50);
}
#ContentTop_NavigationButton1 {
		z-index: 1;
}
#ContentTop_NavigationButton1 {
	img{
	@include imageHeight(35);
	}
}
#ContentTop_NavigationButton1 {
	svg{
	@include imageHeight(35);
	}
}
#ContentTop_NavigationButton1 {
	img{
	@include imageWidth(35);
	}
}
#ContentTop_NavigationButton1 {
	svg{
	@include imageWidth(35);
	}
}
#ContentTop_NavigationButton1 {
	@include border-radius(5px);
}
#ContentTop_DateTimeOutput1 {
	@include elemTop(40);
}
#ContentTop_DateTimeOutput1 {
	@include elemLeft(1220);
}
#ContentTop_DateTimeOutput1 {
	@include elemAutoWidth(360);
}
#ContentTop_DateTimeOutput1 {
	@include elemAutoHeight(30);
}
#ContentTop_DateTimeOutput1 {
		z-index: 2;
}
