@import "mixins.scss";
@mixin widgets_brease_VideoPlayer_base {
	@include elemWidth(640);
	@include elemHeight(480);
	background-color: transparent;
	@include backGroundGradient('');
	border-width: 2px;
	border-color: #FFF;
	border-style: none;
	@include border-radius(0px);
	@include box-shadow(none);
	margin: 0px;
	opacity: 1;
	@include rotate(0deg);

}

.widgets_brease_VideoPlayer_style_default {
@include widgets_brease_VideoPlayer_base 
}
