#content_Dw_NavigationBar1 {
  top: 0px;
  position: absolute;
}

#content_Dw_NavigationBar1 {
  left: 0px;
  position: absolute;
}

#content_Dw_NavigationBar1 {
  width: 500px;
}

#content_Dw_NavigationBar1 {
  height: 100px;
}

#content_Dw_NavigationBar1 {
  z-index: 0;
}

#content_Dw_NavigationButton1 {
  width: 100px;
}

#content_Dw_NavigationButton1 {
  height: 30px;
}

#content_Dw_NavigationButton1 {
  top: 20px;
  position: absolute;
}

#content_Dw_NavigationButton1 {
  left: 20px;
  position: absolute;
}

#content_Dw_NavigationButton1 {
  z-index: 0;
}

#content_Dw_NavigationButton2 {
  width: 100px;
}

#content_Dw_NavigationButton2 {
  height: 30px;
}

#content_Dw_NavigationButton2 {
  top: 20px;
  position: absolute;
}

#content_Dw_NavigationButton2 {
  left: 360px;
  position: absolute;
}

#content_Dw_NavigationButton2 {
  z-index: 1;
}
