@import "mixins.scss";
#mobileRecipe_Table1 {	@include elemTop(90);
}
#mobileRecipe_Table1 {	@include elemLeft(90);
}
#mobileRecipe_Table1 {	@include elemWidth(730);
}
#mobileRecipe_Table1 {	@include elemHeight(680);
}
#mobileRecipe_Table1 {	z-index: 0;
}
#mobileRecipe_Table1 {	.tableCells tbody tr td:not(.override) {
		font-size: 40px;
	}
}
#mobileRecipe_Table1 {	.tableHeader div:not(.override) {
		font-size: 45px;
	}
}
#mobileRecipe_TableItem1 {	z-index: 0;
}
#mobileRecipe_TableItem1 {	&.headerElement.override > span {
		font-size: 45px;
	}
}
#mobileRecipe_TableItem1 {	&:not(.headerElement):not(.disabled).override {
		font-size: 40px;
	}
}
#mobileRecipe_TableItem1 {	&:not(.headerElement).override.disabled {
		font-size: 40px;
	}
}
#mobileRecipe_MomentaryPushButton1 {	@include elemTop(1050);
}
#mobileRecipe_MomentaryPushButton1 {	@include elemLeft(600);
}
#mobileRecipe_MomentaryPushButton1 {	@include elemAutoWidth(272);
}
#mobileRecipe_MomentaryPushButton1 {	@include elemAutoHeight(110);
}
#mobileRecipe_MomentaryPushButton1 {	z-index: 1;
}
#mobileRecipe_MomentaryPushButton1 {	span {
		font-size: 40px;
	}
}
#mobileRecipe_TextInput1 {	@include elemTop(1050);
}
#mobileRecipe_TextInput1 {	@include elemLeft(40);
}
#mobileRecipe_TextInput1 {	@include elemAutoWidth(510);
}
#mobileRecipe_TextInput1 {	@include elemAutoHeight(110);
}
#mobileRecipe_TextInput1 {	z-index: 2;
}
#mobileRecipe_TextInput1 {	input {
		font-size: 40px;
	}
}
#mobileRecipe_MomentaryPushButton2 {	@include elemTop(840);
}
#mobileRecipe_MomentaryPushButton2 {	@include elemLeft(320);
}
#mobileRecipe_MomentaryPushButton2 {	@include elemAutoWidth(272);
}
#mobileRecipe_MomentaryPushButton2 {	@include elemAutoHeight(110);
}
#mobileRecipe_MomentaryPushButton2 {	z-index: 3;
}
#mobileRecipe_MomentaryPushButton2 {	span {
		font-size: 40px;
	}
}
