@import "mixins.scss";
#mobileheader_FlyOut1 {	&.right {
		@include elemTop(30);
	}
}
#mobileheader_FlyOut1 {	&.left {
		@include elemTop(30);
	}
}
#mobileheader_FlyOut1 {	&.top {
		@include elemLeft(0);
	}
}
#mobileheader_FlyOut1 {	&.bottom {
		@include elemLeft(0);
	}
}
#mobileheader_FlyOut1_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemWidth(500);
	}
}
#mobileheader_FlyOut1_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemHeight(500);
	}
}
#mobileheader_FlyOut1 {	z-index: 0;
}
#mobileheader_FlyOut1_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemHeight(100);
	}
}
#mobileheader_FlyOut1 {	@include elemHeight(100);
}
#mobileheader_FlyOut1_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemWidth(500);
	}
}
#mobileheader_FlyOut1 {	@include elemWidth(500);
}
#mobileheader_Button1 {	@include elemTop(30);
}
#mobileheader_Button1 {	@include elemLeft(20);
}
#mobileheader_Button1 {	@include elemAutoWidth(470);
}
#mobileheader_Button1 {	@include elemAutoHeight(100);
}
#mobileheader_Button1 {	z-index: 0;
}
#mobileheader_Button1 {	span {
		font-size: 40px;
	}
}
#mobileheader_Button2 {	@include elemTop(150);
}
#mobileheader_Button2 {	@include elemLeft(20);
}
#mobileheader_Button2 {	@include elemAutoWidth(470);
}
#mobileheader_Button2 {	@include elemAutoHeight(100);
}
#mobileheader_Button2 {	z-index: 1;
}
#mobileheader_Button2 {	span {
		font-size: 40px;
	}
}
#mobileheader_Button3 {	@include elemTop(270);
}
#mobileheader_Button3 {	@include elemLeft(20);
}
#mobileheader_Button3 {	@include elemAutoWidth(470);
}
#mobileheader_Button3 {	@include elemAutoHeight(100);
}
#mobileheader_Button3 {	z-index: 2;
}
#mobileheader_Button3 {	span {
		font-size: 40px;
	}
}
#mobileheader_Button4 {	@include elemTop(390);
}
#mobileheader_Button4 {	@include elemLeft(20);
}
#mobileheader_Button4 {	@include elemAutoWidth(470);
}
#mobileheader_Button4 {	@include elemAutoHeight(100);
}
#mobileheader_Button4 {	z-index: 3;
}
#mobileheader_Button4 {	span {
		font-size: 40px;
	}
}
