@import "mixins.scss";
#mobileMain_lbl_PesoAttuale_Desc {	@include elemTop(120);
}
#mobileMain_lbl_PesoAttuale_Desc {	@include elemLeft(20);
}
#mobileMain_lbl_PesoAttuale_Desc {	@include elemAutoWidth(440);
}
#mobileMain_lbl_PesoAttuale_Desc {	@include elemAutoHeight(110);
}
#mobileMain_lbl_PesoAttuale_Desc {	z-index: 0;
}
#mobileMain_lbl_PesoAttuale_Desc {	font-size: 40px;
}
#mobileMain_val_PesoAttuale {	@include elemTop(120);
}
#mobileMain_val_PesoAttuale {	@include elemLeft(490);
}
#mobileMain_val_PesoAttuale {	@include elemAutoWidth(390);
}
#mobileMain_val_PesoAttuale {	@include elemAutoHeight(110);
}
#mobileMain_val_PesoAttuale {	z-index: 1;
}
#mobileMain_val_PesoAttuale {	input {
		font-size: 50px;
	}
}
#mobileMain_lbl_ErroreFinale_Desc {	@include elemTop(800);
}
#mobileMain_lbl_ErroreFinale_Desc {	@include elemLeft(20);
}
#mobileMain_lbl_ErroreFinale_Desc {	@include elemAutoWidth(480);
}
#mobileMain_lbl_ErroreFinale_Desc {	@include elemAutoHeight(110);
}
#mobileMain_lbl_ErroreFinale_Desc {	z-index: 2;
}
#mobileMain_lbl_ErroreFinale_Desc {	font-size: 40px;
}
#mobileMain_val_ErroreFinale {	@include elemTop(800);
}
#mobileMain_val_ErroreFinale {	@include elemLeft(480);
}
#mobileMain_val_ErroreFinale {	@include elemAutoWidth(390);
}
#mobileMain_val_ErroreFinale {	@include elemAutoHeight(110);
}
#mobileMain_val_ErroreFinale {	z-index: 3;
}
#mobileMain_val_ErroreFinale {	input {
		font-size: 40px;
	}
}
#mobileMain_lbl_SetPoint_Desc {	@include elemTop(1090);
}
#mobileMain_lbl_SetPoint_Desc {	@include elemLeft(20);
}
#mobileMain_lbl_SetPoint_Desc {	@include elemAutoWidth(520);
}
#mobileMain_lbl_SetPoint_Desc {	@include elemAutoHeight(110);
}
#mobileMain_lbl_SetPoint_Desc {	z-index: 4;
}
#mobileMain_lbl_SetPoint_Desc {	font-size: 40px;
}
#mobileMain_input_SetPoint {	@include elemTop(1090);
}
#mobileMain_input_SetPoint {	@include elemLeft(540);
}
#mobileMain_input_SetPoint {	@include elemAutoWidth(330);
}
#mobileMain_input_SetPoint {	@include elemAutoHeight(110);
}
#mobileMain_input_SetPoint {	z-index: 5;
}
#mobileMain_input_SetPoint {	input {
		font-size: 50px;
	}
}
#mobileMain_btn_Start {	@include elemTop(1280);
}
#mobileMain_btn_Start {	@include elemLeft(20);
}
#mobileMain_btn_Start {	@include elemAutoWidth(860);
}
#mobileMain_btn_Start {	@include elemAutoHeight(140);
}
#mobileMain_btn_Start {	z-index: 6;
}
#mobileMain_btn_Start {	span {
		font-size: 40px;
	}
}
#mobileMain_RadialGauge1 {	@include elemTop(290);
}
#mobileMain_RadialGauge1 {	@include elemLeft(230);
}
#mobileMain_RadialGauge1 {	@include elemWidth(450);
}
#mobileMain_RadialGauge1 {	@include elemHeight(450);
}
#mobileMain_RadialGauge1 {	z-index: 7;
}
#mobileMain_val_ErroreFinale1 {	@include elemTop(630);
}
#mobileMain_val_ErroreFinale1 {	@include elemLeft(640);
}
#mobileMain_val_ErroreFinale1 {	@include elemAutoWidth(125);
}
#mobileMain_val_ErroreFinale1 {	@include elemAutoHeight(110);
}
#mobileMain_val_ErroreFinale1 {	z-index: 8;
}
#mobileMain_val_ErroreFinale1 {	input {
		font-size: 40px;
	}
}
