@import "mixins.scss";
#mobileSetting_lbl_Volo_Desc {	@include elemTop(110);
}
#mobileSetting_lbl_Volo_Desc {	@include elemLeft(20);
}
#mobileSetting_lbl_Volo_Desc {	@include elemAutoWidth(590);
}
#mobileSetting_lbl_Volo_Desc {	@include elemAutoHeight(109);
}
#mobileSetting_lbl_Volo_Desc {	z-index: 0;
}
#mobileSetting_lbl_Volo_Desc {	font-size: 40px;
}
#mobileSetting_lbl_Veloce_Perc {	@include elemTop(327);
}
#mobileSetting_lbl_Veloce_Perc {	@include elemLeft(20);
}
#mobileSetting_lbl_Veloce_Perc {	@include elemAutoWidth(590);
}
#mobileSetting_lbl_Veloce_Perc {	@include elemAutoHeight(111);
}
#mobileSetting_lbl_Veloce_Perc {	z-index: 1;
}
#mobileSetting_lbl_Veloce_Perc {	font-size: 40px;
}
#mobileSetting_lbl_Lenta_Perc {	@include elemTop(650);
}
#mobileSetting_lbl_Lenta_Perc {	@include elemLeft(20);
}
#mobileSetting_lbl_Lenta_Perc {	@include elemAutoWidth(590);
}
#mobileSetting_lbl_Lenta_Perc {	@include elemAutoHeight(111);
}
#mobileSetting_lbl_Lenta_Perc {	z-index: 2;
}
#mobileSetting_lbl_Lenta_Perc {	font-size: 40px;
}
#mobileSetting_lbl_Fine_Perc {	@include elemTop(949);
}
#mobileSetting_lbl_Fine_Perc {	@include elemLeft(20);
}
#mobileSetting_lbl_Fine_Perc {	@include elemAutoWidth(590);
}
#mobileSetting_lbl_Fine_Perc {	@include elemAutoHeight(111);
}
#mobileSetting_lbl_Fine_Perc {	z-index: 3;
}
#mobileSetting_lbl_Fine_Perc {	font-size: 40px;
}
#mobileSetting_NumericInput1 {	@include elemTop(110);
}
#mobileSetting_NumericInput1 {	@include elemLeft(610);
}
#mobileSetting_NumericInput1 {	@include elemAutoWidth(269);
}
#mobileSetting_NumericInput1 {	@include elemAutoHeight(109);
}
#mobileSetting_NumericInput1 {	z-index: 4;
}
#mobileSetting_NumericInput1 {	input {
		font-size: 45px;
	}
}
#mobileSetting_NumericInput2 {	@include elemTop(950);
}
#mobileSetting_NumericInput2 {	@include elemLeft(610);
}
#mobileSetting_NumericInput2 {	@include elemAutoWidth(269);
}
#mobileSetting_NumericInput2 {	@include elemAutoHeight(109);
}
#mobileSetting_NumericInput2 {	z-index: 5;
}
#mobileSetting_NumericInput2 {	input {
		font-size: 45px;
	}
}
#mobileSetting_NumericInput3 {	@include elemTop(651);
}
#mobileSetting_NumericInput3 {	@include elemLeft(610);
}
#mobileSetting_NumericInput3 {	@include elemAutoWidth(269);
}
#mobileSetting_NumericInput3 {	@include elemAutoHeight(109);
}
#mobileSetting_NumericInput3 {	z-index: 6;
}
#mobileSetting_NumericInput3 {	input {
		font-size: 45px;
	}
}
#mobileSetting_NumericInput4 {	@include elemTop(328);
}
#mobileSetting_NumericInput4 {	@include elemLeft(610);
}
#mobileSetting_NumericInput4 {	@include elemAutoWidth(269);
}
#mobileSetting_NumericInput4 {	@include elemAutoHeight(109);
}
#mobileSetting_NumericInput4 {	z-index: 7;
}
#mobileSetting_NumericInput4 {	input {
		font-size: 45px;
	}
}
#mobileSetting_lbl_Veloce_Perc1 {	@include elemTop(450);
}
#mobileSetting_lbl_Veloce_Perc1 {	@include elemLeft(21);
}
#mobileSetting_lbl_Veloce_Perc1 {	@include elemAutoWidth(590);
}
#mobileSetting_lbl_Veloce_Perc1 {	@include elemAutoHeight(111);
}
#mobileSetting_lbl_Veloce_Perc1 {	z-index: 8;
}
#mobileSetting_lbl_Veloce_Perc1 {	font-size: 40px;
}
#mobileSetting_NumericInput5 {	@include elemTop(451);
}
#mobileSetting_NumericInput5 {	@include elemLeft(611);
}
#mobileSetting_NumericInput5 {	@include elemAutoWidth(269);
}
#mobileSetting_NumericInput5 {	@include elemAutoHeight(109);
}
#mobileSetting_NumericInput5 {	z-index: 9;
}
#mobileSetting_NumericInput5 {	input {
		font-size: 45px;
	}
}
#mobileSetting_NumericInput6 {	@include elemTop(770);
}
#mobileSetting_NumericInput6 {	@include elemLeft(610);
}
#mobileSetting_NumericInput6 {	@include elemAutoWidth(269);
}
#mobileSetting_NumericInput6 {	@include elemAutoHeight(109);
}
#mobileSetting_NumericInput6 {	z-index: 10;
}
#mobileSetting_NumericInput6 {	input {
		font-size: 45px;
	}
}
#mobileSetting_lbl_Veloce_Perc2 {	@include elemTop(770);
}
#mobileSetting_lbl_Veloce_Perc2 {	@include elemLeft(20);
}
#mobileSetting_lbl_Veloce_Perc2 {	@include elemAutoWidth(590);
}
#mobileSetting_lbl_Veloce_Perc2 {	@include elemAutoHeight(111);
}
#mobileSetting_lbl_Veloce_Perc2 {	z-index: 11;
}
#mobileSetting_lbl_Veloce_Perc2 {	font-size: 40px;
}
