.areaLeft {

	.breaseChartYAxisWidget.editMode {
		border-right-width: 0px;
	}
}

.areaRight {
	
	.breaseChartYAxisWidget.editMode {
		border-left-width: 0px;
	}
}

.breaseChartYAxisWidget.editMode {
	position: relative !important;
	height: 100%;
	border: #c9c9c9 1px dashed;
	box-sizing: border-box;

	.container {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: flex-start;
		box-sizing: border-box;
	}

	.container.scaleContainer {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: visible;
	}
	.axis {

		line {
			fill: none;
			stroke-width: 1px;
		}
		path {
			fill: none;
			stroke-width: 1px;
		}
		text {
			font-size: 12px;
		}
	}
}

.breaseChartYAxisWidget {
}
